<!--blocks-->
<div class="cl-results">
    <div class="cl-results__mail-text">somemail@gmail.com</div>
    <div class="cl-results__item-wrapper">
        <div class="cl-results__row">
            <div class="cl-results__col">
                <div class="cl-results__item">
                    <div class="cl-results__item-img"><img src="./img/result-img-1.png" alt=""></div>
                    <div class="cl-results__item-title">Найдено 2 средства</div>
                    <div class="cl-results__item-date">10/09/2017</div>
                    <div class="cl-results__item-link">Посмотреть <i class="ico"></i></div>
                </div>
            </div>
            <div class="cl-results__col">
                <div class="cl-results__item">
                    <div class="cl-results__item-img"><img src="./img/result-img-2.png" alt=""></div>
                    <div class="cl-results__item-title">Найдено 3 средства</div>
                    <div class="cl-results__item-date">28/08/2017</div>
                    <div class="cl-results__item-link">Посмотреть <i class="ico"></i></div>
                </div>
            </div>
            <div class="cl-results__col">
                <div class="cl-results__item">
                    <div class="cl-results__item-img"><img src="./img/result-img-3.png" alt=""></div>
                    <div class="cl-results__item-title">Найдено 1 средство</div>
                    <div class="cl-results__item-date">23/08/2017</div>
                    <div class="cl-results__item-link">Посмотреть <i class="ico"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-test__link-skip-wrapper">
        <a href="#" class="cl-test__link-skip"><i class="ico reverse"></i> Вернуться назад</a>
    </div>
</div>