<!--blocks-->
<div class="cl-results cl-results_bg-1">
    <div class="cl-results__wrapper">
        <div class="cl-results__inner">
            <a href="#" class="cl-results__link-back"><i class="ico"></i>Вернуться к результатам</a>
            <h2 class="cl-results__title">
                Вы сможете всегда вернуться
                к результатам теста.
            </h2>
            <h2 class="cl-results__title"> Просто оставьте свой e-mail.</h2>

            <!--<div class="cl-results__lid">
                В любой момент вы можете пройти по ссылке теста и посмотреть свои результаты.<sup class="star">*</sup>
            </div>-->
            <form action="" class="cl-results__form">
                <div class="cl-results__form-item">
                    <input type="email" class="cl-results__form-input" placeholder="пример: maria@mail.ru" id="email"
                           name="email"/>
                    <button type="submit" class="cl-button cl-button_form">СОХРАНИТЬ</button>
                </div>
                <div class="cl-results__form-item">
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox-1" name="checkbox-1" checked="checked"/>
                        <label for="checkbox-1">Я согласен на обработку моих персональных данных</label>
                    </div>
                </div>
                <div class="cl-results__form-item">
                    <div class="checkbox">
                        <input type="checkbox" id="checkbox-2" name="checkbox-2"/>
                        <label for="checkbox-2">Я хочу получать информацию о новинках и акциях</label>
                    </div>
                </div>

            </form>
            <div class="cl-results__description">
                * В течение одного года с момента сохранения
            </div>
        </div>
    </div>
</div>