/**
 * Main styles
 **/
.cl-results {

  &_bg-1 {
    height: 100%;
    width: 100%;
    padding-top: 44px;
    display: table-cell;
    vertical-align: middle;


    &:after,
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }
    &:before{
      z-index: 1;
      background:  url(../img/Girl01.png) no-repeat bottom right;
    }
    &:after{
      z-index: 0;
      background: #f8f8f8;
      background-image: linear-gradient(180deg, rgba(240, 240, 242, 0.8) 0%, rgba(239, 239, 241, 0.8) 14%, rgba(230, 231, 233, 0.8) 45%, rgba(224, 225, 227, 0.8) 75%, rgba(231, 232, 234, 0.8) 100%)
    }
  }

  &_bg-2 {
    //background: url(../img/Girl02.png) no-repeat center right;
    //background-size: contain;

    height: 100%;
    width: 100%;
    padding-top: 44px;
    display: table-cell;
    vertical-align: middle;

    &:after,
    &:before{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }
    &:before{
      z-index: 1;
      background: url(../img/Girl02.png) no-repeat bottom right;
    }
    &:after{
      z-index: 0;
      background-image: linear-gradient(180deg, rgba(240, 240, 242, 0.8) 0%, rgba(239, 239, 241, 0.8) 14%, rgba(230, 231, 233, 0.8) 45%, rgba(224, 225, 227, 0.8) 75%, rgba(231, 232, 234, 0.8) 100%)
    }
  }

  &__mail-text {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 28px;
    font-weight: 300;
    line-height: 28px;
    letter-spacing: -0.64px;
    text-align: center;
    margin-top: -21px;
    margin-bottom: 86px;
  }
  &__item-wrapper {
    max-width: 782px;
    margin: 0 auto;
  }
  &__row {
    .make-row();
  }
  &__col {
    .make-sm-column(4);
    padding-bottom: 10px;
  }
  &__item {
    .pt-HelveticaNeueCyr();
    text-align: center;
  }
  &__item-img {
    margin-bottom: 4px;
    img {

      display: inline-block;
      max-width: 100%;
    }
  }
  &__item-title {
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 18px;
    /* Text style for "Найдено 1" */
    letter-spacing: -0.41px;
    margin-bottom: 5px;
  }
  &__item-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "10/09/2017" */
    letter-spacing: -0.3px;
    margin-bottom: 7px;
  }
  &__item-link {
    display: inline-block;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: -0.32px;

    .ico {
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/arrow-2.png) no-repeat center center;
      margin-left: 2px;
    }
  }

  &__wrapper {
    max-width: 924px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    position: relative;
    z-index: 2;
  }
  &__inner {
    max-width: 510px;
  }

  &__link-back {
    padding-left: 25px;
    margin-left: -25px;
    position: relative;
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 80px;
    display: inline-block;
    .ico {
      width: 16px;
      height: 25px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../img/arrow-back.png) no-repeat center center;
    }
    @media (max-width: 960px) {
      margin-left: 0;
    }

  }
  &__title {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 38px;
    font-weight: 100;
    line-height: 40px;
    /* Text style for "Вы сможете" */
    letter-spacing: -0.4px;
    margin-top: 0;
    margin-bottom: 22px;

  }

  &__lid {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 300;
    line-height: 26px;
    /* Text style for "В любой мо" */
    letter-spacing: -0.5px;
    /* Text style for "*" */
    max-width: 470px;
    margin-bottom: 35px;
  }

  .star {
    color: rgba(0, 0, 0, 0.5);
  }
  &__form {
    margin-top: 34px;
    margin-bottom: 55px;
    .clearfix();
    .checkbox {
      margin: 0;
      input {
        display: none;

        &:checked + label {

          &:after {
            border: 1px solid #5dba98;
            background-color: #5dba98;
            background-image: url(../img/shape.svg);
            background-position: top center;
            background-repeat: no-repeat;
          }
        }
      }
      label {
        display: block;
        margin: 0;
        cursor: pointer;
        text-align: left;
        position: relative;
        padding-left: 37px;
        color: #000000;
        .pt-HelveticaNeueCyr();
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        /* Text style for "Я хочу пол" */
        letter-spacing: -0.36px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 22px;
          height: 22px;
          border-radius: 2px;
          border: 1px solid #b0b0b0;
          margin-right: 15px;
          transition: border-color 150ms ease-out, background-color 150ms ease-out;
        }
      }
    }
  }
  &__form-item {
    .clearfix();
    font-size: 0;
    margin-bottom: 24px;
  }
  &__form-input {
    width: 235px;
    height: 36px;
    border: 1px solid #d8d8d8;
    background-color: #fff;
    padding: 10px 12px;
    outline: 0;
    color: #000;
    .pt-HelveticaNeueCyr();
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    letter-spacing: .28px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 9px;
  }

  &__description {
    color: rgba(0, 0, 0, 0.51);
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 300;
    line-height: 13px;
    /* Text style for "* В течени" */
    letter-spacing: -0.36px;
  }

  &__links {
    text-align: left;
    position: relative;
    padding-top: 27px;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 70px;
      height: 2px;
      background-color: #d8d8d8;
      opacity: 0.59;
    }
  }
  &__link {
    display: block;
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 18px;
    font-weight: 300;
    line-height: 38px;
    margin-bottom: 4px;

    .ico {
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/arrow-2.png) no-repeat center center;
      margin-left: 2px;
    }

    span {
      border-bottom: 1px solid;
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {

  .cl-results {

    &_bg-1 {
      vertical-align: top;
      padding-top: 30px;
      padding-bottom: 355px;
      //background: #f8f8f8 url(../img/Girl01_Mobile.png) no-repeat bottom right;
      //background-size: contain;

      &:before{
        max-width: 460px;
        background-size: 100% auto;
      }

    }

    &_bg-2 {
      vertical-align: top;
      padding-top: 30px;
      padding-bottom: 385px;
      //background-size: contain;
      //background: #f8f8f8 url(../img/Girl02_Mobile.png) no-repeat bottom right;
      &:before{
        max-width: 360px;
        background-size: contain;
      }
    }
    &__inner {
      max-width: 100%;
      &_center {
        text-align: center;
        .cl-results__title {
          font-size: 38px;
          font-weight: 100;
          line-height: 38px;
          margin-top: 7px;
          margin-bottom: 16px;
        }

      }
    }

    &__link-back {
      margin-left: 0;
      margin-bottom: 22px;
    }
    &__mail-text {
      margin-top: 20px;
      margin-bottom: 40px;
    }

    &__title {
      font-size: 28px;
      font-weight: 100;
      line-height: 30px;
      /* Text style for "Вы сможете" */
      letter-spacing: -0.4px;
      margin-bottom: 13px;
    }
    &__lid {
      margin-bottom: 23px;
      max-width: 100%;
    }
    &__form {
      margin-bottom: 0;
    }
    &__form-item {
      margin-bottom: 17px;
    }
    &__form-input {
      width: 100%;
      margin: 0 0 15px;
    }
    &__links {
      margin-top: 30px;

      &:before {
        left: 50%;
        margin-left: -35px;
      }
    }
    &__link {
      text-align: center;
      margin-bottom: 2px;
    }
  }
}

@media (max-width: 480px) {
  .cl-results {

  }
}