<div class="cl-footer-form">
    <div class="cl-footer-form__form">
        <label for="email-bottom">Найти результаты прошлого теста</label>
        <input v-model="userEmail"
               type="email"
               placeholder="пример: maria@mail.ru"
               id="email-bottom"
               name="email"/>
        <button type="button" v-on:click="openResults">Найти <i class="fa fa-angle-right"></i></button>
    </div>
</div>