<transition name="modal" v-if="showModal && results.bigProduct.variationsAll">
    <div class="cl-card-color-popup">
        <button class="cl-card-color-popup__close" @click="showModal = false"></button>

        <h2 class="cl-card-color-popup__title">Выбрать оттенок</h2>
        <ul class="cl-card-color-popup__list" v-if="results.bigProduct.variationsAll">
            <li class="cl-card-color-popup__list-item"
                v-for="(variationAll, index) in results.bigProduct.variationsAll">
                <div class="cl-card-color-popup__radio">
                    <input type="radio"
                           v-bind:value="variationAll.sku_base_id"
                           name="radio-color"
                           v-on:click="changeCurrentVariation($event.target.value)"
                           v-bind:id="'radio-color-modal-' + index"/>

                    <label v-bind:for="'radio-color-modal-' + index"
                           v-bind:style="'background-color: ' + variationAll.hex">
                        <img v-bind:src="'build/img/swatches/' + variationAll.image"
                             v-bind:style="'background-color: ' + variationAll.hex">
                    </label>
                </div>
            </li>
        </ul>
        <div class="cl-card-color-popup__img" v-if="currentVariation && currentVariation.image">
            <img v-bind:src="'build/img/swatches/' + currentVariation.image"
                 v-bind:style="'background-color: ' + currentVariation.hex">
        </div>
        <div class="cl-card-color-popup__body">
            <div class="cl-card-color-popup__name" v-if="currentVariation && currentVariation.name">
                Оттенок: {{  currentVariation.name }}
            </div>
            <a href="javascript:;"
               @click="showModal = false"
               class="cl-button cl-button_wa cl-button_min cl-button_gray">ВЫБРАТЬ</a>
        </div>
    </div>

</transition>