/**
 * Main styles
 **/
.cl-card-result {
  margin-bottom: 50px;
  padding-bottom: 20px;
  padding-top: 35px;
  &__title-block {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 28px;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 32px;
  }
  &__row {
    .make-row();
    font-size: 0;
  }
  &__col {
    .make-sm-column(4);
  }
  &__item {
    .make-row();

    .cl-button {
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      .cl-button {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  &__img {
    .make-xs-column(5);
    float: none !important;
    display: inline-block;
    vertical-align: top;

    img {
      display: block;
      max-width: 100%;
      margin-right: auto;
      margin-left: auto;
    }
  }
  &__body {
    .make-xs-column(7);
    float: none !important;
    display: inline-block;
    vertical-align: top;
  }
  &__title {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    /* Text style for "Тональное" */
    letter-spacing: -0.3px;
    margin-bottom: 3px;
  }
  &__price {
    color: rgba(0, 0, 0, 0.5);
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    /* Text style for "2 900 руб." */
    letter-spacing: -0.34px;
    margin-bottom: 10px;
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-card-result {
    &__title-block {
      display: none;
    }
    &__item {
      .cl-button {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

@media (max-width: 520px) {
  .cl-card-result {
    &__img {
      width: 40%;
    }
    &__body {
      width: 60%;
    }
  }
}