<!--blocks-->
<div class="cl-card-result">
    <div class="cl-card-result__title-block">
        Еще больше средств, подходящих именно вам
    </div>
    <div class="cl-card-result__row">
        <div class="cl-card-result__col">
            <div class="cl-card-result__item">
                <div class="cl-card-result__img">
                    <img src="./img/result-img-2.png" alt="">
                </div>

                <div class="cl-card-result__body">
                    <div class="cl-card-result__title">
                        Тональное средство в карандаше Chubby in the Nude™ Foundation Stick
                    </div>
                    <div class="cl-card-result__price">2 300 руб.</div>
                    <a href="#" class="cl-button cl-button_min cl-button_green-min">КУПИТЬ</a>
                </div>
            </div>
        </div>
        <div class="cl-card-result__col">
            <div class="cl-card-result__item">
                <div class="cl-card-result__img">
                    <img src="./img/result-img-1.png" alt="">
                </div>

                <div class="cl-card-result__body">
                    <div class="cl-card-result__title">
                        Суперсбалансиро-ванный тональный крем Super-balanced™ Makeup
                    </div>
                    <div class="cl-card-result__price">2 900 руб.</div>
                    <a href="#" class="cl-button cl-button_min cl-button_green-min">КУПИТЬ</a>
                </div>
            </div>
        </div>
        <div class="cl-card-result__col">
            <div class="cl-card-result__item">
                <div class="cl-card-result__img">
                    <img src="./img/result-img-3.png" alt="">
                </div>

                <div class="cl-card-result__body">
                    <div class="cl-card-result__title">
                        Многофункциональный корректирующий крем Age Defense BB Cream SPF 30
                    </div>
                    <div class="cl-card-result__price">2 750 руб.</div>
                    <a href="#" class="cl-button cl-button_min cl-button_green-min">КУПИТЬ</a>
                </div>
            </div>
        </div>
    </div>


</div>