.cl-button {
  display: block;
  padding: 0 5px;
  text-align: center;
  color: @cl-white;
  .pt-HelveticaNeueCyr();
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  text-transform: uppercase;
  max-width: 80px;
  width: 100%;
  letter-spacing: -0.5px;
  height: 30px;
  background-color: @cl-black;
  border: 2px solid @cl-black;
  text-decoration: none !important;
  outline: none !important;

  &:hover,&:focus {
    background: transparent;
    color: @cl-black;
  }

  &_form {
    height: 36px;
    max-width: 120px;
    display: inline-block;
    vertical-align: middle;
    padding: 3px 5px;
  }

  &_wa{
    max-width: 100%;
    width: auto;
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
    margin-bottom: 5px;

    @media (max-width: 640px) {
      max-width: 120px;
      min-width: 110px;
      padding-left: 10px;
      padding-right: 10px;
      height: 40px !important;
      margin-bottom: 0;
      padding-top: 2px;
      padding-bottom: 2px;
    }
  }

  &_green{
    background-color: #57b794;
    border: 2px solid #57b794;
    color: #ffffff;
  }

  &_green-border{
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #57b794;
    color: #57b794;
    padding-top: 1px;
    padding-bottom: 1px;

    @media (max-width: 640px) {
      line-height: 13px !important;
      padding-top: 6px;
      padding-bottom: 6px;
    }
  }
  &_gray{
    border: 1px solid rgba(151, 151, 151, 0.31);
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    padding-top: 1px;
    padding-bottom: 1px;

    &:hover,&:focus{
      border-color: #000000;
    }

    @media (max-width: 640px) {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }

  &_min{
    font-size: 13px;
    height: 36px;
    line-height: 32px;
  }

  &_green-min{
    background-color: #57b794;
    border: 2px solid #57b794;
    color: #ffffff;
    line-height: 24px;
    height: 28px;
  }

  &_popup{
    display: inline-block;
    max-width: 160px;
  }
}