/**
 * Main styles
 **/
.cl-card {

  &__header {
    margin-bottom: 35px;
  }
  &__header-top {
    background-color: #f4f4f4;
    //padding-top: 7px;
    //padding-bottom: 13px;
  }
  &__header-bottom {
    background-color: rgba(244, 244, 244, 0.25);
    border-bottom: 1px solid #d8d8d8;
  }

  &__footer-form {
    padding: 25px 0;
  }

  &__header-row {
    .make-row();
  }
  &__header-col {
    .make-xs-column(4);
    padding-top: 7px;
    padding-bottom: 13px;

    &_right {
      float: right;
      text-align: right;
    }

    &_width-auto {
      width: auto ;
    }
  }

  &__header-link {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    /* Text style for "Внести изм" */
    letter-spacing: -0.3px;
    display: inline-block;
    padding-right: 16px;
    position: relative;
    margin-right: 5px;

    &_underline {
      border-bottom: 1px solid;
      padding-right: 0;
      margin-right: 0;
    }

    .ico {
      width: 12px;
      height: 12px;
      display: block;
      vertical-align: middle;
      background: url(../img/arrow-down.png) no-repeat center center;
      margin-left: 2px;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -5px;
    }

    &.collapsed {
      .ico {
        transform: rotate(180deg);
      }
    }
  }
  &__container {
    .container();
    max-width: 904px;
  }

  &__lid {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 38px;
    font-weight: 100;
    line-height: 42px;
    /* Text style for "Поздравляе" */
    letter-spacing: -0.4px;
    margin-top: 0;
    margin-bottom: 28px;
    display: block;

    &_header {
      font-size: 28px;
      font-weight: 300;
      line-height: 32px;
      margin-top: 30px;
      margin-bottom: -4px;
    }

    &_mobile{
      display: none;
    }
  }

  &__body {
    position: relative;
    padding-left: 224px;
    padding-right: 92px;
    padding-bottom: 43px;
    min-height: 320px;
  }
  &__title {
    display: block;
    color: #57b794;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    /* Text style for "Корректиру" */
    letter-spacing: -0.3px;
    margin-top: 0;
    margin-bottom: 15px;
  }
  &__img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    img {
      display: block;
      max-width: 100%;
    }
  }
  &__description {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    /* Text style for "Clinique E" */
    letter-spacing: -0.2px;
    margin-bottom: 5px;
    overflow: hidden;
  }
  &__link-more {
    display: inline-block;
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    /* Text style for "Читать все" */
    letter-spacing: -0.3px;
    margin-bottom: 14px;

    .ico {
      width: 12px;
      height: 12px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/arrow-2.png) no-repeat center center;
      margin-left: 2px;
    }
    &__wrapper {
      //background: url(../img/bg-white.png) left top repeat-x;
      //padding-top: 30px;
      //margin-top: -30px;
      //position: relative;
      //z-index: 1;
      //margin-top: -47px;
      //position: relative;
      //z-index: 1;
      //padding-top: 55px;
    }
  }
  &__buttons {

  }
  &__size {
    color: rgba(0, 0, 0, 0.5);
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 3px;
  }
  &__price {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__buttons-row {
    .clearfix();
    position: relative;
    &_info {
      padding-bottom: 50px;
      @media (min-width: 739px) {
        padding-bottom: 20px;
      }
    }
  }
  &__soc {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
  }

  &__color {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 75px;
  }
  &__owl{
    display: block;
    &_mobile {
      display: block;
      @media (min-width: 641px) {
        display: none;
      }
    }
  }
  &__info {
    color: #5dba98 !important;
    font-family: Arial,Verdana,sans-serif;
    font-weight: 300;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
    outline: none;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    padding: 0 10px 5px;
    width: 100%;
    line-height: 16px;
    @media (min-width: 641px) {
      padding: 0;
    }
  }
}

.cl-card-mobile {
  border-bottom: 1px solid transparent;
  margin-right: -10px;
  margin-left: -10px;

  &__link {
    display: table;
    table-layout: fixed;
    border-top: 1px solid #d8d8d8;
    width: 100%;
    vertical-align: middle;
    padding: 8px 10px;
    .pt-HelveticaNeueCyr();
    font-size: 18px;
    font-weight: 300;
    line-height: 20px;
    min-height: 47px;
    display: none;

    span {
      display: table-cell;
      vertical-align: middle;

      span{
        display: inline-block;
      }
    }

    i {
      display: inline-block;
      vertical-align: middle;
      margin-left: 4px;
      &:before {
        content: "\f107";
      }
    }

    &.collapsed {
      i {
        &:before {
          content: "\f105";
        }
      }
    }
  }

  &__collapse {
    padding-left: 10px;
    padding-right: 10px;
    display: none;

    @media (min-width: 641px) {
      height: auto !important;
      display: none !important;
    }

    &_desctop-ok {
      display: block;
      @media (min-width: 641px) {
        display: block !important;
      }
    }

  }

  .collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
  }

}

//background-color: #d8d8d8;

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-card {
    padding-bottom: 60px;
    &__header {
      margin-bottom: 15px;
    }
    &__header-row {
      margin-right: -8px;
      margin-left: -8px;
    }
    &__header-col {
      width: 30%;
      text-align: center;
      min-height: 44px;
      padding-bottom: 6px;
      border-right: 1px solid #dfdfdf;

      &:last-child{
        border-right-color: transparent;
      }
      &:first-child{
        border-left-color: transparent;
      }

      &_right {
        float: right;
        width: 20%;
      }

      &_width-auto {
        width: 30%;
      }
      &_center{
        width: 50%;
      }
    }
    &__header-link {
      text-align: left;
      font-size: 13px;
      line-height: 13px;
      margin-right: 0;
      &_underline {
        border: none;
        text-decoration: underline;
      }
    }
    &__lid {
      font-size: 24px;
      font-weight: 100;
      line-height: 28px;
      letter-spacing: -0.25px;
      margin-bottom: 2px;
      display: none;

      &_header {
        display: block;
      }
      &_mobile{
        display: block;
      }
    }

    &__body {
      position: relative;
      padding-left: 0px;
      padding-right: 0px;
      padding-bottom: 15px;
      min-height: 320px;
      z-index: 100;

      .cl-card__description {
        display: none;
      }
      .cl-card__link-more {
        display: none;
      }
    }
    &__img {
      display: block;
      position: static;
      left: 0;
      top: 0;
      width: 100%;
      margin-bottom: 6px;
      img {
        display: block;
        width: 100%;
        max-width: 152px;
        margin: 0 auto;
      }
    }
    &__title {
      margin-bottom: 8px;
    }

    &__price {
      margin-bottom: 20px;
    }

    &__buttons-row {
      display: block;
      position: fixed;
      bottom: 0;
      right: 0;
      width: 100%;
      background: #ffffff;
      left: 0;
      z-index: 100;
      box-shadow: 0 2px 9px rgba(0, 0, 0, 0.2);
      padding: 10px;
      min-width: 320px;
      padding-right: 5px;

      &_info {
        padding-bottom: 45px;
        @media (min-width: 423px) {
          padding-bottom: 25px;
        }
      }
    }

    &__color {
      display: block;
      position: relative;
      right: 0;
      top: 0;
      width: 100%;
    }

    &__soc {
      margin-left: 5px;
    }

  }

  .cl-card-mobile {
    border-bottom-color: #d8d8d8;
    &__link {
      display: table;
    }

    &__collapse {
      display: block;

      &.collapse {
        display: none;
      }
      &.collapse.in {
        display: block;
      }
    }
  }
}

#cl-card-mobile-3 .cl-card__owl-item:nth-child(2) img {
  display: none;
}