<!--blocks-->
<div class="cl-card">
    <div class="cl-card__header">
        <div class="cl-card__header-top">
            <div class="cl-card__container">
                <div class="cl-card__header-row">
                    <div class="cl-card__header-col">

                    </div>
                    <div class="cl-card__header-col cl-card__header-col_right">
                        <a href="#" class="cl-card__header-link cl-card__header-link_underline">Пройти заново</a>
                    </div>
                </div>
            </div>
        </div>
        <div  class="cl-card__header-bottom">
            <div class="cl-card__container">
                <div class="cl-card__lid cl-card__lid_header" >
                    Мы не смогли ничего найти по выбранным фильтрам. <br>
                    Попробуйте изменить ответ на один из вопросов.
                </div>
                @@include('../card-result-menu/index.html')

            </div>
        </div>
    </div>
    <div class="cl-card__container">
        @@include('../card-result/index.html')
    </div>
</div>