<!--blocks-->
<div class="cl-card">
    <div class="cl-card__header" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="cl-card__header-top">
            <div class="cl-card__container">
                <div class="cl-card__header-row">
                    <div class="cl-card__header-col cl-card__header-col_width-auto">
                        <div class="panel-heading" role="tab" id="headingMenu">
                            <a class="cl-card__header-link collapsed" role="button" data-toggle="collapse"
                               href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"
                               data-parent="#accordion">
                                Внести изменения<i class="ico"></i>
                            </a>
                        </div>
                    </div>
                    <div class="cl-card__header-col cl-card__header-col_width-auto cl-card__header-col_center">
                        <div class="panel-heading" role="tab" id="headingEmail">
                            <a class="cl-card__header-link collapsed" role="button" data-toggle="collapse"
                               href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail"
                               data-parent="#accordion">
                                Найти предыдущие результаты<i class="ico"></i>
                            </a>
                        </div>
                    </div>
                    <div class="cl-card__header-col cl-card__header-col_right">
                        <a href="#" class="cl-card__header-link cl-card__header-link_underline">Пройти заново</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="collapseMenu" class="cl-card__header-bottom collapse" aria-expanded="false">
            <div class="cl-card__container">
                @@include('../card-result-menu/index.html')

            </div>
        </div>
        <div id="collapseEmail" class="cl-card__header-bottom collapse" aria-expanded="false">
            <div class="cl-card__container">
                <div class="cl-card__footer-form">
                    @@include('../footer-form/index.html')
                </div>
            </div>
        </div>
    </div>
    <div class="cl-card__container">

        <div class="cl-card__lid">
            Поздравляем! Мы подобрали для вас <br>
            безупречное тональное средство!
        </div>

        <div class="cl-card__lid cl-card__lid_mobile ">
            Ваше тональное средство
        </div>

        <div class="cl-card__body">


            <div class="cl-card__img">
                <img src="./img/card-img.png" alt="">
            </div>
            <div class="cl-card__title">
                Корректирующий тональный крем, выравнивающий тон кожи Even Better™ Makeup Broad Spectrum SPF 15
            </div>
            <div class="cl-card__description">
                Clinique Even Better Makeup SPF 15 - первый разработанный дерматологами тональный крем Clinique, который
                при постоянном применении помогает выровнять тон кожи и устранить пигментные пятна.
            </div>
            <a href="#" class="cl-card__link-more">Читать все описание <i class="ico"></i></a>

            <div class="cl-card__buttons">

                <div class="cl-card__size">30 мл</div>
                <div class="cl-card__price">3 300 рублей </div>
                <div class="cl-card__buttons-row cl-card__buttons-row_info">
                    <a href="#" class="cl-button cl-button_wa cl-button_min cl-button_green" style="display: none;">КУПИТЬ</a>
                    <a href="#" class="cl-button cl-button_wa cl-button_min cl-button_green-border">ОТСУТСТВУЕТ НА СКЛАДЕ</a>
                    <a href="#" class="cl-button cl-button_wa cl-button_min cl-button_gray">СОХРАНИТЬ</a>

                    <a href="javascript:;"
                       class="cl-card__info">Уведомить меня о поступлении товара по электронной почте.</a>

                    <div class="cl-card__soc">
                        @@include('../soc/index.html')
                    </div>
                </div>
            </div>
            <div class="cl-card__color">
                @@include('../card-color/index.html')
            </div>
        </div>
        <div class="cl-card-mobile">
            <a href="#cl-card-mobile-2" aria-controls="cl-card-mobile-2" class="cl-card-mobile__link collapsed"
               data-toggle="collapse" expanded="false"><span>Читать описание <i
                class="fa fa-angle-right"></i></span></a>
            <div id="cl-card-mobile-2" class="cl-card-mobile__collapse collapse">
                <div class="cl-card__description">
                    Clinique Even Better Makeup SPF 15 - первый разработанный дерматологами тональный крем Clinique,
                    который
                    при постоянном применении помогает выровнять тон кожи и устранить пигментные пятна.
                </div>
            </div>

            <div class="cl-card__owl owl-carousel js-owl"></div>

            <div class="cl-card__owl cl-card__owl_mobile owl-carousel">

                <a href="#cl-card-mobile-3" aria-controls="cl-card-mobile-3" class="cl-card-mobile__link collapsed"
                   data-toggle="collapse" expanded="false"><span>Читать лайфхак <i class="fa fa-angle-right"></i></span></a>
                <div id="cl-card-mobile-3" class="cl-card-mobile__collapse collapse cl-card-mobile__collapse_desctop-ok">
                    <div class="cl-card__owl-item">
                            @@include('../lifechak/index.html')
                    </div>
                    <div class="cl-card__owl-item">
                            @@include('../lifechak/index.html')
                    </div>
                </div>

                <a href="#cl-card-mobile-3-0" aria-controls="cl-card-mobile-3-0" class="cl-card-mobile__link collapsed"
                   data-toggle="collapse" expanded="false"><span>Читать отзыв визажиста <i class="fa fa-angle-right"></i></span></a>
                <div id="cl-card-mobile-3-0" class="cl-card-mobile__collapse collapse cl-card-mobile__collapse_desctop-ok">
                    <div class="cl-card__owl-item">
                        @@include('../review/index.html')
                    </div>
                    <div class="cl-card__owl-item">
                        @@include('../review/index.html')
                    </div>
                </div>

            </div>
            <a href="#cl-card-mobile-4" aria-controls="cl-card-mobile-4" class="cl-card-mobile__link collapsed"
               data-toggle="collapse" expanded="false"><span>Что мы подобрали другим <span>пользователям <i
                class="fa fa-angle-right"></i></span></span></a>
            <div id="cl-card-mobile-4" class="cl-card-mobile__collapse collapse cl-card-mobile__collapse_desctop-ok">
                @@include('../card-result/index.html')
            </div>
        </div>


    </div>
    <!--@@include('../popup/index-1.html')-->
</div>