/**
 * Common styles
 **/
html {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  position: relative;
  font-size: 14px;
  line-height: 24px;
  //letter-spacing: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background-color: @cl-white;
  .pt-HelveticaNeueCyr();
  font-weight: 400;
  &:after {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.75) url("../img/ajax-loader.gif") center center no-repeat;
    width: 100%;
    height: 100%;
    display: block;
  }
  &.loaded {
    &:after {
      display: none;
    }
  }
}

a {
  transition: box-shadow 150ms ease-out, opacity 150ms ease-out, color 150ms ease-out, background-color 150ms ease-out, border-color 150ms ease-out;
}


.cl-wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  display: table;
  table-layout: fixed;



  &__content {
    height: 100%;
    width: 100%;
    padding-top: 78px;
    display: table-cell;
    vertical-align: middle;
    //vertical-align: top;
    padding-bottom: @footer-height;
  }

  &__container {
    .container();
    padding-left: 10px;
    padding-right: 10px;
    z-index: 2;
  }

  &__row {
    .make-row();


  }
}
@media (max-width: 640px) {
  .cl-wrapper {
    &__content {
      padding-top: 0;
      vertical-align: top;
    }
  }
}

.h-error {
  color: #ef6ea8;
  font-size: 10px;
  position: absolute;
  line-height: 10px;
}