// Mixins
// --------------------------------------------------

// Lazy border
.border( @pr-border-width, @pr-border-style, @pr-border-color ) {
  border-style: @pr-border-style;
  border-width: @pr-border-width;
  border-color: @pr-border-color;
}

.border-radius(@value) {
  -webkit-border-radius: @value;
  -moz-border-radius: @value;
  border-radius: @value;
}

.box-shadow(@offset-x, @offset-y, @blur-radius, @spread-radius, @color) {
  -webkit-box-shadow: @offset-x @offset-y @blur-radius @spread-radius @color;
  -moz-box-shadow: @offset-x @offset-y @blur-radius @spread-radius @color;
  box-shadow: @offset-x @offset-y @blur-radius @spread-radius @color;
}

.rotate(@value) {
  -moz-transform: rotate(@value); /* Для Firefox */
  -ms-transform: rotate(@value); /* Для IE */
  -webkit-transform: rotate(@value); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(@value); /* Для Opera */
  transform: rotate(@value);
}

.placeholder(@color) {
  &::-webkit-input-placeholder {
	color: @color;
  }

  &:-moz-placeholder {
	color: @color;
  }
}
.pt-HelveticaNeueCyr {
  font-family: 'Helvetica Neue','Helvetica Neue Cyr',  Helvetica, Arial,Sans-Serif;
}

.clearfix {
  zoom: 1;
  &:before, &:after {
	content: "";
	display: table;
  }
  &:after {
	clear: both;
  }
}

.container(@gutter: @grid-gutter-width) {
  margin-right: auto;
  margin-left: auto;
  padding-left: (@gutter / 2);
  padding-right: (@gutter / 2);
  &:extend(.clearfix all);
  max-width: 926px;
  min-width: 0;
  width: 100%;

  @media (min-width: @screen-sm-min) {
    width: 100%;
  }
  @media (min-width: @screen-md-min) {
    width: 100%;
  }
  @media (min-width: @screen-lg-min) {
    width: 100%;
  }
}

// Image Mixins
// - Responsive image
// - Retina image



// Retina image
//
// Short retina mixin for setting background-image and -size. Note that the
// spelling of `min--moz-device-pixel-ratio` is intentional.
.img-retina(@file-1x; @file-2x) {
  background-image: url("@{file-1x}");

  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) {
    background-image: url("@{file-2x}");
    //background-size: @width-1x @height-1x;
  }
}
