/**
 * Custom variables
 **/

// Globals
@abs-img-path:              '..'; // example: http://site.com
@path:                      '../../bower_components/bootstrap/less/';
@path-fonts:                '../fonts/';



@footer-height: 60px;

@cl-white:                 #ffffff;
@cl-black:                 #000000;
@cl-black-60:              rgba(0, 0, 0, 0.6);
@cl-black-2:               #313131;
@cl-black-3:               #333333;
@cl-black-4:               #161616;
@cl-black-5:               #2f2e2e;
@cl-black-6:               #101010;
@cl-black-7:               #1b1b1b;
@cl-black-8:               #212121;
@cl-black-9:               #303439;
@cl-black-10:              #151515;
@cl-grey: 				   #85909d;
@cl-grey-2: 			   #7a7979;
@cl-grey-3: 			   #bfbfbf;
@cl-grey-4: 			   #808080;
@cl-grey-5: 			   #97a8ba;
@cl-grey-6: 			   #8ba2b1;
@cl-red: 				   #f03d3a;
@cl-red-2: 				   #d11f1f;
@cl-yellow: 			   #ffdc4d;
@cl-blue: 				   #3896c7;
@cl-blue-2: 			   #3d9cc9;
@cl-blue-3: 			   #2c8bcf;
@cl-pink:                  #f7145a;

@body-bg:                   @cl-white;
@text-color:                @cl-black-9;
@link-color:                @cl-black;
@link-hover-color:          @cl-black-60;
@link-hover-decoration:     none;

/**
 * Grid system
 **/

@screen-md:                 1024px;
@grid-columns:              12;
@grid-gutter-width:         20px;
@screen-sm-max:             1023px;

// @container-tablet:          ;
// @container-sm:              ;
@container-desktop:         (980px + @grid-gutter-width);
// @container-md:              ;
@container-large-desktop:   (1140px + @grid-gutter-width + 20px);
// @container-lg:              ;




@breakpoint-1: 1100px;
@breakpoint-2: 480px;
@breakpoint-3: 880px; // menu
//@breakpoint-4: 865px; // banner
@breakpoint-4: 940px; // banner
@breakpoint-5: 540px; // banner
@breakpoint-6: 400px; // banner
@breakpoint-7: 785px; // banner

@v-breakpoint-1: 520px;
@v-breakpoint-2: 720px;

@max-width: 969px + 40px;





//== Forms
//
//##

//** `<input>` background color
@input-bg:                       #fff;
//** `<input disabled>` background color
@input-bg-disabled:              @gray-lighter;

//** Text color for `<input>`s
@input-color:                    #000;
//** `<input>` border color
@input-border:                   #d6e0eb;
@font-size-base:                 17px;
// TODO: Rename `@input-border-radius` to `@input-border-radius-base` in v4
//** Default `.form-control` border radius
// This has no effect on `<select>`s in some browsers, due to the limited stylability of `<select>`s in CSS.
@input-border-radius:            0px;
//** Large `.form-control` border radius
@input-border-radius-large:      0px;
//** Small `.form-control` border radius
@input-border-radius-small:      0px;

//** Border color for inputs on focus
@input-border-focus:             @cl-pink;

//** Placeholder text color
@input-color-placeholder:        #acaaab;

//** Default `.form-control` height
@input-height-base:              40px;
//** Large `.form-control` height
@input-height-large:             (ceil(@font-size-large * @line-height-large) + (@padding-large-vertical * 2) + 2);
//** Small `.form-control` height
@input-height-small:             (floor(@font-size-small * @line-height-small) + (@padding-small-vertical * 2) + 2);

//** `.form-group` margin
@form-group-margin-bottom:       10px;

@legend-color:                   @gray-dark;
@legend-border-color:            #e5ebef;

//** Background color for textual input addons
@input-group-addon-bg:           @cl-white;
//** Border color for textual input addons
@input-group-addon-border-color: @input-border;






