<!doctype html>
<html class="no-js" lang="ru">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="">

    <meta property="og:title" content="<%= ogtitle %>" />
    <meta property="og:description" content="<%= ogdesc %>" />
    <meta property="og:url" content="<%= ogurl %>" />
    <meta property="og:image" content="<%= ogimage %>" />
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="<%= asset('build/js/vendor.js') %>"></script>
    <script src="<%= asset('build/js/main.js') %>"></script>
    <link type="text/css" href="<%= asset('build/css/main.css') %>" rel="stylesheet" />
    <link type="text/css" href="<%= asset('css/custom.css') %>" rel="stylesheet" />
</head>
<body>

<div id="app">

    <% include partials/app/load.html %>

    <% include partials/app/beginning.html %>

    <% include partials/app/quiz.html %>

    <% include partials/app/results.html %>

    <% include partials/app/empty.html %>

    <% include partials/app/save.html %>

    <% include partials/app/success.html %>

    <div style="display: none;">{{ debug() }}</div>

</div>

<script src="<%= asset('build/js/app.js') %>"></script>
</body>
</html>
