<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html lang="ru">

<head>
    <meta charset="utf-8">

    <title><%= title %></title>
    <meta name="keywords" content="" >
    <meta name="description" content="">

    <meta property="og:title" content="<%= ogtitle %>" />
    <meta property="og:description" content="<%= ogdesc %>" />
    <meta property="og:url" content="<%= ogurl %>" />
    <meta property="og:image" content="<%= ogimage %>" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--
    <script src="/build/js/vendor.js"></script>
    <script src="/build/js/main.js"></script>
    <link type="text/css" href="/build/css/main.css" rel="stylesheet" />-->
</head>
<body>
<!--
    <div id="results">
        <share></share>
    </div>

    <script src="/js/results.js"></script>-->
</body>
</html>