/**
 * Main styles
 **/

.owl-nav {

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    z-index: 19;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.4);
    outline: none;
    text-align: left;
    cursor: pointer;
    transform: translateY(-50%);
    transition: color 0.15s;

    i {
      /* display: block;
       position: absolute;
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       background-position: center center;*/
    }

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

  }
  .owl-prev {
    left: -35px;
    text-align: left;
    i {

    }

  }

  .owl-next {
    right: -35px;
    text-align: right;
    i {

    }

  }
  @media (max-width: 1000px) {
    .owl-prev {
      left: 15px;
    }

    .owl-next {
      right: 15px;
    }
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}

