<!--blocks-->
<div class="cl-test">
    <h2 class="cl-test__title">
        Шаг 2. Какой у вас подтон кожи?
    </h2>

    <div class="cl-test__sub-shade-wrapper">
        <div class="cl-test__sub-shade-col">
            <div class="cl-test__sub-shade-item">
                <input type="radio" name="sub-shade" id="sub-shade-1"/>
                <label for="sub-shade-1" class="cold">
                    <div class="cold">
                        <div class="cl-test__sub-shade-dt">
                            <div class="cl-test__sub-shade-dtc">

                                <span class="title">    <i></i>Холодный</span>
                                <span>Ближе к розовому, чем к желтому.</span>
                            </div>
                        </div>
                    </div>

                </label>
            </div>
        </div>
        <div class="cl-test__sub-shade-col">
            <div class="cl-test__sub-shade-item">
                <input type="radio" name="sub-shade" id="sub-shade-2"/>
                <label for="sub-shade-2" class="warm">
                    <div class="warm">
                        <div class="cl-test__sub-shade-dt">
                            <div class="cl-test__sub-shade-dtc">

                                <span class="title"><i></i>Теплый</span>
                                <span>Ближе к желтому, чем к розовому.</span>
                            </div>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <a href="#" class="cl-test__link-skip">Вы можете пропустить этот шаг <i class="ico"></i></a>
</div>