<!--blocks-->
<div class="cl-test">
    <h2 class="cl-test__title">
        Шаг 6. Какую проблему кожи <br>
        вы хотите решить?
    </h2>

    <div class="cl-test__problem-wrapper">
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-1"/>
                <label for="problem-1">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-1.svg')</i>
                                <span>Выровнять тон кожи</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-2"/>
                <label for="problem-2">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-2.svg')</i>
                                <span>Убрать покраснения</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-3"/>
                <label for="problem-3">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-3.svg')</i>
                                <span>Убрать жирный блеск</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-4"/>
                <label for="problem-4">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-4.svg')</i>
                                <span>Дополнительно увлажнить</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-5"/>
                <label for="problem-5">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-5.svg')</i>
                                <span>Разгладить морщины</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-6"/>
                <label for="problem-6">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-6.svg')</i>
                                <span>Защитить от солнца</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
        <div class="cl-test__problem-col">
            <div class="cl-test__problem-item">
                <input type="checkbox" name="problem" id="problem-7" disabled="disabled"/>
                <label for="problem-7">
                    <div class="cl-test__problem-dt">
                        <div class="cl-test__problem-dtc">
                            <span class="title">
                                <i class="cl-test__problem-ico">@@include('../../../img/problem-7.svg')</i>
                                <span>Убрать несовершенства кожи</span>
                            </span>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <a href="#" class="cl-test__link-skip">Вы можете пропустить этот шаг <i class="ico"></i></a>

</div>