<!--blocks-->
<div class="cl-test">

    <div class="cl-test__lid">Мы уже прошли половину!</div>
    <h2 class="cl-test__title">
        Шаг 4. Какую текстуру <br> тонального средства вы ищите?
    </h2>

    <div class="cl-test__texture-wrapper">
        <div class="cl-test__texture-col">
            <div class="cl-test__texture-item">
                <input type="radio" name="texture" id="texture-1"/>
                <label for="texture-1">
                    <span class="title"><i></i>Жидкая формула</span><img src="./img/texture-1.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__texture-col">
            <div class="cl-test__texture-item">
                <input type="radio" name="texture" id="texture-2"/>
                <label for="texture-2">
                    <span class="title"><i></i>Пудра</span><img src="./img/texture-2.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__texture-col">
            <div class="cl-test__texture-item">
                <input type="radio" name="texture" id="texture-3" disabled="disabled"/>
                <label for="texture-3">
                    <span class="title"><i></i>BB / CC Крем</span><img src="./img/texture-3.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__texture-col">
            <div class="cl-test__texture-item">
                <input type="radio" name="texture" id="texture-4"/>
                <label for="texture-4">
                    <span class="title"><i></i>Стик</span><img src="./img/texture-4.png" alt="">
                </label>
            </div>
        </div>
    </div>

</div>