<!--blocks-->
<div class="cl-test">
    <h2 class="cl-test__title">
        Шаг 1. Какой оттенок кожи наиболее близко похож на ваш?
    </h2>
    <div class="cl-test__shade-wrapper">
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-1"/>
                <label for="shade-1"><img src="./img/madels-1.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-2"/>
                <label for="shade-2"><img src="./img/madels-2.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-3" disabled="disabled"/>
                <label for="shade-3"><img src="./img/madels-3.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-4"/>
                <label for="shade-4"><img src="./img/madels-4.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-5"/>
                <label for="shade-5"><img src="./img/madels-5.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-6"/>
                <label for="shade-6"><img src="./img/madels-6.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-7"/>
                <label for="shade-7"><img src="./img/madels-7.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-8"/>
                <label for="shade-8"><img src="./img/madels-8.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-9"/>
                <label for="shade-9"><img src="./img/madels-9.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-10"/>
                <label for="shade-10"><img src="./img/madels-10.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-11"/>
                <label for="shade-11"><img src="./img/madels-11.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-12"/>
                <label for="shade-12"><img src="./img/madels-12.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-13"/>
                <label for="shade-13"><img src="./img/madels-13.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-14"/>
                <label for="shade-14"><img src="./img/madels-14.png" alt=""></label>
            </div>
        </div>
        <div class="cl-test__shade-col">
            <div class="cl-test__shade-item">
                <input type="radio" name="shade" id="shade-15"/>
                <label for="shade-15"><img src="./img/madels-15.png" alt=""></label>
            </div>
        </div>
    </div>
</div>