<!--blocks-->
<div class="cl-test">
    <h2 class="cl-test__title">
        Шаг 3. Какую плотность покрытия вы предпочитаете?
    </h2>

    <div class="cl-test__coating-density-wrapper">
        <div class="cl-test__coating-density-col">
            <div class="cl-test__coating-density-item">
                <input type="radio" name="coating-density" id="coating-density-1"/>
                <label for="coating-density-1">
                    <span class="title"><i></i>Легкую</span><img src="./img/coating-density-1.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__coating-density-col">
            <div class="cl-test__coating-density-item">
                <input type="radio" name="coating-density" id="coating-density-2"/>
                <label for="coating-density-2">
                    <span class="title"><i></i>Среднюю</span><img src="./img/coating-density-2.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__coating-density-col">
            <div class="cl-test__coating-density-item">
                <input type="radio" name="coating-density" id="coating-density-3"/>
                <label for="coating-density-3">
                    <span class="title"><i></i>Плотную</span><img src="./img/coating-density-3.png" alt="">
                </label>
            </div>
        </div>
    </div>

</div>