<!--blocks-->
<div class="cl-test">
    <h2 class="cl-test__title">
        Шаг 5. Какой эффект <br>
        вы хотите получить?
    </h2>

    <div class="cl-test__effect-wrapper">
        <div class="cl-test__effect-col">
            <div class="cl-test__effect-item">
                <input type="radio" name="effect" id="effect-1"/>
                <label for="effect-1">
                    <span class="title"><i></i>Матовый <span>Без жирного блеска</span></span><img src="./img/effect-1.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__effect-col">
            <div class="cl-test__effect-item">
                <input type="radio" name="effect" id="effect-2"/>
                <label for="effect-2">
                    <span class="title"><i></i>Естественный матовый <span>Бархатная кожа без жирного блеска</span></span><img src="./img/effect-2.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__effect-col">
            <div class="cl-test__effect-item">
                <input type="radio" name="effect" id="effect-3"/>
                <label for="effect-3">
                    <span class="title"><i></i>Естественный <span>Естественное сияние здоровой кожи</span></span><img src="./img/effect-3.png" alt="">
                </label>
            </div>
        </div>
        <div class="cl-test__effect-col">
            <div class="cl-test__effect-item">
                <input type="radio" name="effect" id="effect-4"/>
                <label for="effect-4">
                    <span class="title"><i></i>Сияющий <span>Увлажненная сияющая кожа</span></span><img src="./img/effect-4.png" alt="">
                </label>
            </div>
        </div>
    </div>

</div>