/**
 * Main styles
 **/
.cl-test {
  text-align: center;
  &__title {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 38px;
    font-weight: 100;
    letter-spacing: -0.5px;
    line-height: 40px;
    text-align: center;
    max-width: 600px;
    margin: 0 auto 32px;
  }

  &__lid {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.41px;
    line-height: 13px;
    margin-bottom: 20px;
    margin-top: 2px;
  }

  &__shade-wrapper {
    .clearfix();
    max-width: 460px;
    margin: 0 auto;
    text-align: center;
  }
  &__shade-col {
    display: inline-block;
    text-align: center;
    .make-sm-column(2.4);
    padding: 5px;
    vertical-align: top;
  }
  &__shade-item {
    display: block;
    input {
      display: none;

      &:checked + label {
        &:after {
          opacity: 1;
          background-color: rgba(93, 186, 152, 0.3);
          background-image: url(../img/shape-big.svg);
          background-repeat: no-repeat;
          background-position: center center;
        }
      }

      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);

        img {
          opacity: 1;
        }
      }
    }
    label {
      display: block;
      background-color: #d8d8d8;
      margin: 0;
      cursor: pointer;
      position: relative;

      img {
        display: block;
        max-width: 100%;
        opacity: 1;
        transition: box-shadow 150ms ease-out, opacity 150ms ease-out;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        border: 2px solid #5dba98;
        transition: background-color 150ms ease-out, opacity 150ms ease-out, border-color 150ms ease-out;
      }

      &:hover {

        img {
          opacity: .8;
        }
        &:after {

        }
      }
    }
  }

  &__sub-shade-wrapper {
    .clearfix();
    max-width: 520px;
    margin: 0 auto;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 35px;
  }
  &__sub-shade-col {
    display: inline-block;
    text-align: center;
    .make-sm-column(6);
    padding: 5px 10px;
  }

  &__sub-shade-dt {
    display: table;
    table-layout: fixed;
    width: 100%;
    min-height: 240px;
    height: 240px;
  }
  &__sub-shade-dtc {
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
  }
  &__sub-shade-item {
    display: block;
    input {
      display: none;

      &:checked + label {
        i {
          border: 1px solid #5dba98;
          background-color: #5dba98;
          background-image: url(../img/shape.svg);
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
      }
    }
    label {
      display: block;
      margin: 0;
      cursor: pointer;
      text-align: left;

      .cold {
        background-color: #ffecef;
      }

      .warm {
        background-color: #fff3e9;
      }

      i {
        display: inline-block;
        vertical-align: middle;
        width: 26px;
        height: 26px;
        border: 1px solid #000000;
        position: relative;
        margin-right: 20px;
        transition: border-color 150ms ease-out, background-color 150ms ease-out;
      }

      span {
        display: block;
        color: #000000;
        font-size: 16px;
        font-weight: 300;
        line-height: 20px;
        padding-left: 46px;
        &.title {
          color: #000000;
          font-size: 22px;
          font-weight: 300;
          line-height: 22px;
          padding-left: 0;
          margin-bottom: 4px;
        }
      }

    }
  }

  &__coating-density-wrapper {
    .clearfix();
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 35px;
  }
  &__coating-density-col {
    display: inline-block;
    text-align: center;
    .make-sm-column(4);
    padding: 5px 10px;
  }

  &__coating-density-item {
    display: block;
    text-align: left;
    input {
      display: none;

      &:checked + label {
        i {
          border: 1px solid #5dba98;
          background-color: #5dba98;
          background-image: url(../img/shape.svg);
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
      }
    }
    label {
      display: inline-block;
      margin: 0;
      cursor: pointer;
      text-align: left;
      min-height: 121px;
      position: relative;
      padding-top: 55px;
      padding-bottom: 45px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: 200px;

      i {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        border-radius: 2px;
        border: 1px solid #b0b0b0;
        position: relative;
        margin-right: 15px;
        transition: border-color 150ms ease-out, background-color 150ms ease-out;
      }

      span {
        display: block;
        color: #000000;
        .pt-HelveticaNeueCyr();
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.41px;
        line-height: 13px;
        position: relative;
        z-index: 2;
      }

      img {
        display: block;
        max-width: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -60px;
        z-index: 1;
      }

    }
  }

  &__texture-wrapper {
    .clearfix();
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 17px;
    padding-bottom: 35px;
  }
  &__texture-col {
    display: inline-block;
    text-align: center;
    .make-sm-column(3);
    .make-xs-column(6);
    padding: 5px 10px;
  }

  &__texture-item {
    display: block;
    text-align: left;
    input {
      display: none;

      &:checked + label {
        i {
          border: 1px solid #5dba98;
          background-color: #5dba98;
          background-image: url(../img/shape.svg);
          background-position: top center;
          background-repeat: no-repeat;
        }
      }

      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
      }
    }
    label {
      display: inline-block;
      margin: 0;
      cursor: pointer;
      text-align: left;
      min-height: 121px;
      position: relative;
      padding-top: 10px;
      padding-bottom: 45px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: 200px;

      i {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        border-radius: 2px;
        border: 1px solid #b0b0b0;
        position: relative;
        margin-right: 15px;
        transition: border-color 150ms ease-out, background-color 150ms ease-out;
      }

      span {
        display: block;
        color: #000000;
        .pt-HelveticaNeueCyr();
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.41px;
        line-height: 13px;
        position: relative;
        z-index: 2;
      }

      img {
        display: block;
        max-width: 100%;
        //position: absolute;
        //right: 0;
        //top: 50%;

        margin-top: -0px;
        z-index: 1;
      }

    }
  }

  &__effect-wrapper {
    .clearfix();
    max-width: 886px;
    margin: 0 auto;
    text-align: center;
    padding-top: 13px;
    padding-bottom: 0px;
  }
  &__effect-col {
    display: inline-block;
    text-align: center;
    .make-sm-column(3);
    .make-xs-column(6);
    padding: 5px 10px 30px;
  }

  &__effect-item {
    display: block;
    text-align: left;
    input {
      display: none;

      &:checked + label {

        i {
          border: 1px solid #5dba98;
          background-color: #5dba98;
          background-image: url(../img/shape.svg);
          background-position: top center;
          background-repeat: no-repeat;
        }
      }
      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
      }
    }
    label {
      display: inline-block;
      margin: 0;
      cursor: pointer;
      text-align: left;
      min-height: 121px;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 10px;
      padding-right: 10px;
      //min-width: 200px;

      i {
        display: inline-block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid #b0b0b0;
        position: relative;
        margin-right: 15px;
        position: absolute;
        left: 0;
        top: 0;
        transition: border-color 150ms ease-out, background-color 150ms ease-out;
      }

      span {
        display: block;
        color: #000000;
        .pt-HelveticaNeueCyr();
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.41px;
        line-height: 20px;
        position: relative;
        z-index: 2;
        padding-left: 31px;
        text-align: left;

        &.title {
          min-height: 90px;
          margin-bottom: 24px;
        }

        span {
          padding-left: 0;
          color: rgba(0, 0, 0, 0.7);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px;
          margin-top: 6px;
        }
      }

      img {
        display: inline-block;
        max-width: 100%;
        //position: absolute;
        //right: 0;
        //top: 50%;
        margin-left: 30px;
        z-index: 1;
      }

    }
  }

  &__problem-wrapper {
    .clearfix();
    max-width: 700px;
    margin: -4px auto 20px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  &__problem-col {
    display: inline-block;
    text-align: center;
    .make-sm-column(6);
    .make-xs-column(12);
    padding: 3px;
  }
  &__problem-dt {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: auto;
    height: 64px;
    min-height: 64px;
  }
  &__problem-dtc {
    display: table-cell;
    vertical-align: middle;
  }
  &__problem-item {
    display: block;
    text-align: left;
    input {
      display: none;

      &:checked + label {
        border: 2px solid #5dba98;

        .cl-test__problem-ico {

          use {
            fill: rgb(93, 186, 152);
          }
        }
      }

      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
        .cl-test__problem-ico {
          use {
            fill: rgba(0, 0, 0, 0.2);
          }
        }

      }
    }
    label {
      display: inline-block;
      margin: 0;
      cursor: pointer;
      text-align: left;
      background-color: rgba(240, 243, 243, 0.34);
      border: 2px solid rgba(240, 243, 243, 0);
      position: relative;
      padding: 0;
      min-width: 200px;
      transition: border-color 150ms ease-out, background-color 150ms ease-out;

      .title {
        display: block;
        color: #000000;
        .pt-HelveticaNeueCyr();
        font-size: 18px;
        font-weight: 300;
        letter-spacing: -0.41px;
        line-height: 20px;
        position: relative;
        z-index: 2;
        padding-left: 81px;
        padding-right: 19px;
        text-align: left;

        span {

        }
      }

      .cl-test__problem-ico {
        display: block;
        //width: 44px;
        //height: 44px;
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;

        svg {
          display: inline-block;
          vertical-align: middle;
        }
        use {
          transition: fill 150ms ease-out;
          fill: rgba(0, 0, 0, 0.2);
        }
      }
      &:hover {
        background-color: rgba(240, 243, 243, 0.54);
        .cl-test__problem-ico {
          use {
            fill: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }

  &__link-skip {
    display: inline-block;
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 300;
    line-height: 38px;

    .ico {
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      background: url(../img/arrow.png) no-repeat center center;
      //background-size: cover;

      &.reverse{
        transform: rotate(180deg);
      }
    }
  }

  &__link-skip-wrapper{
    padding: 35px 0;
    text-align: center;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {

  .cl-test {

    &__title {
      font-size: 28px;
      font-weight: 100;
      letter-spacing: -0.4px;
      line-height: 30px;
      margin: 0 auto 28px;
    }
    &__lid {
      font-size: 16px;
      letter-spacing: -0.36px;
      margin-top: 9px;
      margin-bottom: 28px;

    }

    &__sub-shade-wrapper {
      max-width: 260px;
      margin: -8px auto 0;
      padding-top: 0;
      padding-bottom: 20px;
    }

    &__link-skip {
      max-width: 90%;
      margin-right: auto;
      margin-left: auto;
      line-height: 26px;
      margin-top: 8px;
    }

    &__coating-density-wrapper{
      padding-top: 2px;
    }

    &__coating-density-col{
      margin-bottom: -12px;
    }

    &__texture-wrapper{
      padding-top: 0;
      text-align: center;
    }

    &__texture-item{
      text-align: center;

      label {
        padding-bottom: 0;

        img {
          margin-top: -26px;
          margin-bottom: -26px;
          z-index: 1;
        }
      }
    }

    &__effect-wrapper{
      padding-top: 6px;
    }

    &__effect-item {
      display: block;
      text-align: left;
    }
  }
}

@media (max-width: 480px) {
  .cl-test {
    &__texture-col {
      width: 100%;
    }
    &__effect-col {
      width: 100%;
      padding-bottom: 20px;
    }

    &__effect-item {
      display: block;
      text-align: center;

      label {
        min-height:inherit;
        width: 220px;

        span {

          &.title {
            min-height: inherit;
            margin-bottom: 10px;
          }

          span {
            padding-left: 0;
            color: rgba(0, 0, 0, 0.7);
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            margin-top: 6px;
          }
        }

        img {
        }

      }
    }
  }
}