/**
 * Main styles
 **/
.cl-card-color {


  &__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &__list-item {
    display: block;
    margin-bottom: 6px;
  }
  &__radio {

    input {
      display: none;
      &:checked + label {
        border: 1px solid #5dba98;
      }

      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
      }
    }

    label {
      display: block;
      width: 75px;
      border: 1px solid rgba(151, 151, 151, 0.25);
      cursor: pointer;
      margin-bottom: 0;

      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  &__btn {
    display: block;
    text-align: center;
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
    .pt-HelveticaNeueCyr();
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    cursor: pointer;

    i {
      display: inline-block;
      width: 100%;
      color: #57b794;
      .pt-HelveticaNeueCyr();
      font-size: 34px;
      font-weight: 400;
      line-height: 12px;
    }
  }
}

.cl-card-color-popup {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 356px;
  min-height: 280px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 30px 20px 20px;
  .clearfix();


  &_mobile{
    position: relative;
    box-shadow: none;
    border: none;
    padding: 8px 0px;
    width: auto;
    margin: 0 -6px;
    min-height: inherit;

    .cl-card-color-popup__body {
      padding-top: 4px;
    }
  }

  &__close {
    display: block;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    background: url(../img/close.svg) no-repeat center center;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 13px;
    right: 12px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 300;
    line-height: 22px;
    /* Text style for "Выбрать от" */
    letter-spacing: -0.28px;
    text-align: center;
  }
  &__list {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    text-align: left;
  }
  &__list-item {
    display: inline-block;
    margin-right: 9px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__radio {

    input {
      display: none;
      &:checked + label {
        border: 2px solid #7f7f7f;
      }

      &.disabled + label,
      &[disabled] + label,
      fieldset[disabled] & + label {
        .opacity(.4);
        .box-shadow(none);
      }
    }

    label {
      display: block;
      width: 44px;
      height: 44px;
      border: 2px solid transparent;
      cursor: pointer;
      margin-bottom: 0;

      img {
        display: none;
        max-width: 100%;
      }
    }
  }

  &__img {
    display: block;
    float: left;
  }
  &__body {
    padding-left: 130px;
    padding-top: 24px;
  }
  &__name {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    /* Text style for "Оттенок: 0" */
    letter-spacing: -0.2px;
    margin-bottom: 10px;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-card-color {
    &__list {
      .clearfix();
      font-size: 0;
      margin-bottom: 2px;
    }
    &__list-item {
      display: inline-block;
      vertical-align: middle;
      margin-bottom: 0;
      //float: left;
      margin-right: 5px;
      max-width: 75px;

      &:last-child {
        margin-right: 0;
      }
    }
    &__btn {
      width: 60px;
    }
  }

  .cl-card-color-popup {
    position: relative;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    min-height: inherit;
    box-shadow: none;
    border: none;
    background-color: #ffffff;
    padding: 4px 0 20px;
    .clearfix();


    &__close {
      display: block;
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
      background: transparent;
      width: 75px;
      height: 75px;
      position: absolute;
      top: -75px;
      right: auto;
      left: 240px;
      display: none;
    }

    &__title {
      display: none;
    }
    &__list {
      display: block;
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 0;
      text-align: left;
      .clearfix();
    }
    &__list-item {
      display: block;
      float: left;
      margin-right: 5px;
      margin-bottom: 5px;

      &:last-child {
        margin-right: 0;
      }

      /*&:nth-child(1),
      &:nth-child(2),
      &:nth-child(3){
        display: none;
      }*/
    }
    &__radio {

      input {
        display: none;
        &:checked + label {
          border: 1px solid #5dba98;
        }

        &.disabled + label,
        &[disabled] + label,
        fieldset[disabled] & + label {
          .opacity(.4);
          .box-shadow(none);
        }
      }

      label {
        display: block;
        width: 75px;
        height: auto;
        border: 1px solid rgba(151,151,151,.25);
        background: transparent !important;
        cursor: pointer;
        margin-bottom: 0;

        img {
          display: block;
          max-width: 100%;
        }
      }
    }

    &__img {
      display: none;
    }
    &__body {
      padding-left: 0;
      padding-top: 10px;
      br{
        display: none;
      }

      .cl-button{
        display: none;
      }
    }
    &__name {
      color: #000000;
      .pt-HelveticaNeueCyr();
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      /* Text style for "Оттенок: 0" */
      letter-spacing: -0.2px;
      margin-bottom: 10px;
    }
  }
}