<!--blocks-->
<div class="cl-card-color">
    <!-- app -->
    <div id="app">
        <ul class="cl-card-color__list">
            <li class="cl-card-color__list-item">
                <div class="cl-card-color__radio">
                    <input type="radio" name="radio-color" id="radio-color-1"/>
                    <label for="radio-color-1">
                        <img src="./img/06_ns_ng.png" alt="" style="background-color: #fee7cd">
                    </label>
                </div>
            </li>
            <li class="cl-card-color__list-item">
                <div class="cl-card-color__radio">
                    <input type="radio" name="radio-color" id="radio-color-2"/>
                    <label for="radio-color-2">
                        <img src="./img/06_ns_ng.png" alt="" style="background-color: #efc9af">
                    </label>
                </div>
            </li>
            <li class="cl-card-color__list-item">
                <div class="cl-card-color__radio">
                    <input type="radio" name="radio-color" id="radio-color-3"/>
                    <label for="radio-color-3">
                        <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                    </label>
                </div>
            </li>
            <li class="cl-card-color__list-item">
                <a class="cl-card-color__btn" id="show-modal" @click="showModal = true">
                    <i>+</i>
                    <span>еще 8 оттенков</span>
                </a>
            </li>
        </ul>


        <script type="text/x-template" id="modal-template">
            <transition name="modal">
                <div class="cl-card-color-popup">
                    <button class="cl-card-color-popup__close" @click="$emit('close')"></button>

                    <h2 class="cl-card-color-popup__title">Выбрать оттенок</h2>
                    <ul class="cl-card-color-popup__list">
                        <li class="cl-card-color-popup__list-item">
                            <div class="cl-card-color-popup__radio">
                                <input type="radio" name="radio-color" id="radio-color-popup-1"/>
                                <label for="radio-color-popup-1" style="background-color: #fee7cd">
                                    <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                                </label>
                            </div>
                        </li>
                        <li class="cl-card-color-popup__list-item">
                            <div class="cl-card-color-popup__radio">
                                <input type="radio" name="radio-color" id="radio-color-popup-2"/>
                                <label for="radio-color-popup-2" style="background-color: #efc9af">
                                    <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                                </label>
                            </div>
                        </li>
                        <li class="cl-card-color-popup__list-item">
                            <div class="cl-card-color-popup__radio">
                                <input type="radio" name="radio-color" id="radio-color-popup-3"/>
                                <label for="radio-color-popup-3" style="background-color: #e4bfaa">
                                    <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                                </label>
                            </div>
                        </li>
                        <li class="cl-card-color-popup__list-item">
                            <div class="cl-card-color-popup__radio">
                                <input type="radio" name="radio-color" id="radio-color-popup-4"/>
                                <label for="radio-color-popup-4" style="background-color: #fee7cd">
                                    <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                                </label>
                            </div>
                        </li>
                        <li class="cl-card-color-popup__list-item">
                            <div class="cl-card-color-popup__radio">
                                <input type="radio" name="radio-color" id="radio-color-popup-5"/>
                                <label for="radio-color-popup-5" style="background-color: #efc9af">
                                    <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                                </label>
                            </div>
                        </li>
                        <li class="cl-card-color-popup__list-item">
                            <div class="cl-card-color-popup__radio">
                                <input type="radio" name="radio-color" id="radio-color-popup-6"/>
                                <label for="radio-color-popup-6" style="background-color: #e4bfaa">
                                    <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                                </label>
                            </div>
                        </li>
                    </ul>

                    <div class="cl-card-color-popup__img">
                        <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
                    </div>
                    <div class="cl-card-color-popup__body">
                        <div class="cl-card-color-popup__name">
                            Оттенок: 01: <br>
                            SILK PORCELAIN
                        </div>
                        <a href="" class="cl-button cl-button_wa cl-button_min cl-button_gray">ВЫБРАТЬ</a>
                    </div>
                </div>

            </transition>
        </script>


    </div>
</div>