<!--blocks-->
<div class="cl-card-color-popup cl-card-color-popup_mobile">
    <ul class="cl-card-color-popup__list">
        <li class="cl-card-color-popup__list-item">
            <div class="cl-card-color-popup__radio">
                <input type="radio" name="radio-color" id="radio-color-popup-mobile-1"/>
                <label for="radio-color-popup-mobile-1" style="background-color: #fee7cd"></label>
            </div>
        </li>
        <li class="cl-card-color-popup__list-item">
            <div class="cl-card-color-popup__radio">
                <input type="radio" name="radio-color" id="radio-color-popup-mobile-2"/>
                <label for="radio-color-popup-mobile-2" style="background-color: #efc9af"></label>
            </div>
        </li>
        <li class="cl-card-color-popup__list-item">
            <div class="cl-card-color-popup__radio">
                <input type="radio" name="radio-color" id="radio-color-popup-mobile-3"/>
                <label for="radio-color-popup-mobile-3" style="background-color: #e4bfaa"></label>
            </div>
        </li>
        <li class="cl-card-color-popup__list-item">
            <div class="cl-card-color-popup__radio">
                <input type="radio" name="radio-color" id="radio-color-popup-mobile-4"/>
                <label for="radio-color-popup-mobile-4" style="background-color: #fee7cd"></label>
            </div>
        </li>
        <li class="cl-card-color-popup__list-item">
            <div class="cl-card-color-popup__radio">
                <input type="radio" name="radio-color" id="radio-color-popup-mobile-5"/>
                <label for="radio-color-popup-mobile-5" style="background-color: #efc9af"></label>
            </div>
        </li>
        <li class="cl-card-color-popup__list-item">
            <div class="cl-card-color-popup__radio">
                <input type="radio" name="radio-color" id="radio-color-popup-mobile-6"/>
                <label for="radio-color-popup-mobile-6" style="background-color: #e4bfaa"></label>
            </div>
        </li>
    </ul>

    <div class="cl-card-color-popup__img">
        <img src="./img/06_ns_ng.png" alt="" style="background-color: #e4bfaa">
    </div>
    <div class="cl-card-color-popup__body">
        <div class="cl-card-color-popup__name">
            Оттенок: 01: <br>
            SILK PORCELAIN
        </div>
        <a href="" class="cl-button cl-button_wa cl-button_min cl-button_gray">ВЫБРАТЬ</a>
    </div>
</div>