<div class="cl-lifechak">
    <div class="cl-lifechak__img">
        <img src="build/img/lifehack.png" alt="" class="cl-lifechak__img-item cl-lifechak__img-item_mob">
    </div>
    <div class="cl-lifechak__body">
        <div class="cl-lifechak__categories">Лайфхак</div>
        <div v-html="results.bigProduct['lh2']"></div>
    </div>
</div>