<div class="cl-card__owl owl-carousel js-owl"
     v-if="results.bigProduct['lh1'] || results.bigProduct['lh2']  || results.bigProduct['review1']  || results.bigProduct['review2'] "></div>

<div class="cl-card__owl cl-card__owl_mobile"
     v-if="results.bigProduct['lh1'] || results.bigProduct['lh2']  || results.bigProduct['review1']  || results.bigProduct['review2'] ">


    <a href="#cl-card-mobile-3"
       aria-controls="cl-card-mobile-3"
       class="cl-card-mobile__link collapsed"
       v-if="results.bigProduct['lh1'] || results.bigProduct['lh2']"
       data-toggle="collapse"
       expanded="false">
        <span>Читать лайфхак <i class="fa fa-angle-right"></i></span>
    </a>
    <div id="cl-card-mobile-3"
         v-if="results.bigProduct['lh1'] || results.bigProduct['lh2']"
         class="cl-card-mobile__collapse collapse cl-card-mobile__collapse_desctop-ok">

        <div class="cl-card__owl-item" v-if="results.bigProduct['lh1']">
            <% include ../lifehacks/lh1.html %>
        </div>
        <div class="cl-card__owl-item" v-if="results.bigProduct['lh2']">
            <% include ../lifehacks/lh2.html %>
        </div>

    </div>

    <a href="#cl-card-mobile-3-0"
       aria-controls="cl-card-mobile-3-0"
       class="cl-card-mobile__link collapsed"
       data-toggle="collapse"
       v-if="results.bigProduct['review1'] || results.bigProduct['review2']"
       expanded="false">
        <span>Читать отзыв визажиста <i class="fa fa-angle-right"></i></span>
    </a>
    <div id="cl-card-mobile-3-0"
         v-if="results.bigProduct['lh1'] || results.bigProduct['lh2']"
         class="cl-card-mobile__collapse collapse cl-card-mobile__collapse_desctop-ok">

        <div class="cl-card__owl-item" v-if="results.bigProduct['review1']">
            <% include ../reviews/review1.html %>
        </div>
        <div class="cl-card__owl-item" v-if="results.bigProduct['review2']">
            <% include ../reviews/review2.html %>
        </div>

    </div>

</div>