<!--blocks-->
<nav class="cl-menu">
    <ul class="cl-menu__list">
        <li class="cl-menu__list-item ">
            <a href="" class="cl-menu__list-link active">Тон</a><span>/</span>
        </li>
        <li class="cl-menu__list-item">
            <a href="" class="cl-menu__list-link active">Подтон</a><span>/</span>
        </li>
        <li class="cl-menu__list-item">
            <a href="" class="cl-menu__list-link current">Покрытие</a><span>/</span>
        </li>
        <li class="cl-menu__list-item">
            <a href="" class="cl-menu__list-link">Текстура</a><span>/</span>
        </li>
        <li class="cl-menu__list-item">
            <a href="" class="cl-menu__list-link">Эффект</a><span>/</span>
        </li>
        <li class="cl-menu__list-item">
            <a href="" class="cl-menu__list-link">Уход</a><span>/</span>
        </li>
    </ul>
</nav>