/**
 * Main styles
 **/
.cl-menu {
  padding-top: 30px;
  padding-bottom: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    font-size: 0;
  }
  &__list-item {
    display: inline-block;
    color: rgba(0, 0, 0, 0.3);
    span {

      font-size: 12px;
      margin: 0 6px;
    }

    &:last-child {
      span {
        display: none;
      }
    }

    a {
      //color: rgba(0, 0, 0, 0.3);
    }
  }
  &__list-link {
    display: inline-block;
    .pt-HelveticaNeueCyr();
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    /* Text style for "/  Подтон," */


    &.active{
      color: rgba(0, 0, 0, 1);

      &+span{
        color: rgba(0, 0, 0, 1);
      }
    }

    &.current{
      color: rgba(0, 0, 0, 1);
      border-bottom: 1px solid;
    }
    &:hover{
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-menu {
    position: static;
    padding: 17px 10px 4px;
  }
}