<div id="page-1" class="page" v-show="questionIndex === -1 && currentPage === 'quiz'">
    <div class="cl-front">
        <div class="cl-front__inner">
            <div class="cl-wrapper__container">
                <div class="cl-front__row">
                    <div class="cl-front__col">
                        <div class="cl-front__text">
                            <h2>Подбор тонального средства</h2>
                            <p>Найдите свою безупречную формулу
                                за&nbsp;6&nbsp;шагов.</p>
                            <p><strong>Пройдите быстрый тест.</strong></p>
                        </div>
                        <a href="javascript:;" v-on:click="begin" class="cl-button">НАЧАТЬ</a>
                    </div>
                </div>
                <div class="cl-front__img">
                    <img src="build/img/front-bg.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <footer class="cl-footer">
        <div class="cl-wrapper__container">
            <% include forms/find-bottom.html %>
        </div>
    </footer>
</div>