<div id="page-empty" class="page" v-show="results.bigProduct.id === 0 && questionIndex === quiz.questions.length && currentPage == 'results'">

    <div class="cl-wrapper">
        <div class="cl-card">
            <div class="cl-card__header">
                <div class="cl-card__header-top">
                    <div class="cl-card__container">
                        <div class="cl-card__header-row">
                            <div class="cl-card__header-col">

                            </div>
                            <div class="cl-card__header-col cl-card__header-col_right">
                                <a href="javascript:;"
                                   v-on:click="again"
                                   class="cl-card__header-link cl-card__header-link_underline">Пройти заново</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div  class="cl-card__header-bottom">
                    <div class="cl-card__container">
                        <div class="cl-card__lid cl-card__lid_header" >
                            Мы не смогли ничего найти по выбранным фильтрам. <br>
                            Попробуйте изменить ответ на один из вопросов.
                        </div>

                        <nav class="cl-card-result-menu">
                            <ul class="cl-card-result-menu__list">
                                <li v-for="(question, index) in quiz.questions" class="cl-card-result-menu__list-item">
                                    <a href="javascript:;" v-on:click="go(index)" class="cl-card-result-menu__list-link">
                                        <span class="cl-card-result-menu__dt">{{ question.category }}</span>
                                        <span v-if="userResponses[index]" v-for="(userResponse, key) in userResponses[index]"
                                              class="cl-card-result-menu__dd">{{ question.answers[userResponse-1] }}<i class="ico"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                    </div>
                </div>
            </div>
            <div class="cl-card__container">
                <div class="cl-card-result">

                    <div class="cl-card-result__title-block" style="display: block">
                        Что мы подобрали другим пользователям
                    </div>

                    <div class="cl-card-result__row" v-if="results.empty['filtered']">
                        <div class="cl-card-result__col" v-for="(product, index) in results.empty['filtered']">
                            <div class="cl-card-result__item">
                                <div class="cl-card-result__img">
                                    <img v-bind:src="'build/img/products/' + product.image">
                                </div>

                                <div class="cl-card-result__body">
                                    <a v-bind:href="product.link + '?from=tool_ff_201710'"
                                       target="_blank"
                                       class="cl-card-result__title">
                                        {{ product.title }}
                                    </a>
                                    <div class="cl-card-result__price">{{ product.price }}</div>
                                    <a v-bind:href="product.link + '?from=tool_ff_201710'"
                                       target="_blank"
                                       class="cl-button cl-button_min cl-button_green-min">КУПИТЬ</a>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

