<div id="page-0" class="page" v-show="currentPage == 'load'">
    <div class="cl-wrapper">
        <main class="cl-wrapper__content">
            <div class="cl-wrapper__container">
                <div class="cl-results">
                    <div class="cl-results__mail-text">{{ userEmail }}</div>
                    <div class="cl-results__item-wrapper">
                        <div class="cl-results__row" v-if="userResults">
                            <div class="cl-results__col" v-for="(res, index) in userResults">
                                <div class="cl-results__item">
                                    <div class="cl-results__item-img"><img v-bind:src="res.image"></div>
                                    <div class="cl-results__item-title">{{ res.total }}</div>
                                    <div class="cl-results__item-date">{{ res.created_at }}</div>
                                    <div class="cl-results__item-link">
                                        <a href="javascript:;" v-on:click="load(res.id)">
                                            Посмотреть <i class="ico"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>