<div id="page-2" class="page" v-show="questionIndex >= 0 && questionIndex !== quiz.questions.length && currentPage == 'quiz'">


    <div class="cl-wrapper">
        <main class="cl-wrapper__content">
            <div class="cl-wrapper__container">

                <!-- breadcrumbs -->
                <nav class="cl-menu">
                    <ul class="cl-menu__list">
                        <li class="cl-menu__list-item " v-for="(questions, step) in quiz.questions">
                            <a href="javascript:;"
                               class="cl-menu__list-link active"
                               v-on:click="go(step)"
                               v-if="userResponses[step] && step != questionIndex">{{ quiz.questions[step].category }}</a>
                            <a href="javascript:;"
                               class="cl-menu__list-link current"
                               v-on:click="go(step)"
                               v-else-if="step == questionIndex">{{ quiz.questions[step].category }}</a>
                            <a href="javascript:;"
                               class="cl-menu__list-link"
                               v-else>{{ quiz.questions[step].category }}</a>
                            <span>/</span>
                        </li>
                    </ul>
                </nav>

                <!-- answers -->
                <div v-for="(question, index) in quiz.questions" style="height: 100%">
                    <div class="cl-test" v-show="index === questionIndex">

                        <div v-if="question.prefix" class="cl-test__lid">{{ question.prefix }}</div>

                        <radios v-if="question.type == 'radios'"
                                :id="question.id"
                                :question="question.text"
                                :prefix="question.class"
                                v-model="userResponses[index]"
                                v-on:answer="goToNextQuestion"
                                v-on:change="goToLastQuestion"
                                v-on:edit="goToResults"
                                :options="question.responses">
                        </radios>

                        <checkboxes v-if="question.type == 'checkboxes'"
                                    :id="question.id"
                                    :question="question.text"
                                    :prefix="question.class"
                                    v-model="userResponses[index]"
                                    v-on:skip="skip"
                                    v-on:finish="goToResults"
                                    :options="question.responses">
                        </checkboxes>

                        <a href="javascript:;"
                           v-if="question.skip"
                           v-on:click="skip"
                           class="cl-test__link-skip">Вы можете пропустить этот шаг <i class="ico"></i></a>

                    </div>
                </div>

            </div>
        </main>
    </div>


</div>