<div id="page-end" class="page" v-show="results.bigProduct.id > 0 && questionIndex === quiz.questions.length && currentPage == 'results'">

    <div class="cl-wrapper">
        <div class="cl-card">
            <div class="cl-card__header" id="accordion" role="tablist" aria-multiselectable="true">
                <!-- top -->
                <div class="cl-card__header-top">
                    <div class="cl-card__container">
                        <div class="cl-card__header-row">
                            <div v-show="userResult == 0"
                                 class="cl-card__header-col cl-card__header-col_width-auto">
                                <div class="panel-heading" role="tab" id="headingMenu">
                                    <a class="cl-card__header-link collapsed" role="button" data-toggle="collapse"
                                       href="#collapseMenu" aria-expanded="false" aria-controls="collapseMenu"
                                       data-parent="#accordion">
                                        Внести изменения<i class="ico"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="cl-card__header-col cl-card__header-col_width-auto cl-card__header-col_center">
                                <div class="panel-heading" role="tab" id="headingEmail">
                                    <a class="cl-card__header-link collapsed" role="button" data-toggle="collapse"
                                       href="#collapseEmail" aria-expanded="false" aria-controls="collapseEmail"
                                       data-parent="#accordion">
                                        Найти предыдущие результаты<i class="ico"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="cl-card__header-col cl-card__header-col_right">
                                <a href="javascript:;"
                                   v-on:click="again"
                                   class="cl-card__header-link cl-card__header-link_underline js-collapse-hide">Пройти заново</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- menu -->
                <div id="collapseMenu" class="cl-card__header-bottom collapse" aria-expanded="false">
                    <div class="cl-card__container">
                        <nav class="cl-card-result-menu">
                            <ul class="cl-card-result-menu__list">
                                <li v-for="(question, index) in quiz.questions" class="cl-card-result-menu__list-item">
                                    <a href="javascript:;" v-on:click="go(index)" class="cl-card-result-menu__list-link">
                                        <span class="cl-card-result-menu__dt">{{ question.category }}</span>
                                        <span v-if="userResponses[index]" v-for="(userResponse, key) in userResponses[index]"
                                              class="cl-card-result-menu__dd">{{ question.answers[userResponse-1] }}<i class="ico"></i></span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- find -->
                <div id="collapseEmail" class="cl-card__header-bottom collapse" aria-expanded="false">
                    <div class="cl-card__container">
                        <div class="cl-card__footer-form">
                            <% include forms/find-top.html %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cl-card__container">

                <div class="cl-card__lid">
                    Поздравляем! Мы подобрали для вас <br>
                    безупречное тональное средство!
                </div>

                <div class="cl-card__lid cl-card__lid_mobile ">
                    Ваше тональное средство
                </div>

                <div class="cl-card__body">


                    <div class="cl-card__img" v-if="results.bigProduct['image']">
                        <img v-bind:src="'build/img/products/' + results.bigProduct['image']" alt="">
                    </div>
                    <a v-bind:href="results.bigProduct['link']"
                       class="cl-card__title"
                       target="_blank">
                        {{ results.bigProduct['title'] }}
                    </a>
                    <div class="cl-card__description" style="height: 92px" v-html="results.bigProduct['description']"></div>

                    <div class="cl-card__link-more__wrapper">
                    <a href="javascript:;" class="cl-card__link-more js-read-more">Читать все описание <i class="ico"></i></a>
                    </div>

                    <div class="cl-card__buttons">

                        <div class="cl-card__size">{{ results.bigProduct['weight'] }}</div>
                        <div class="cl-card__price">{{ results.bigProduct['price'] }}</div>
                        <div v-bind:class="[currentVariation['canBuy'] === false ? 'cl-card__buttons-row cl-card__buttons-row_info' : 'cl-card__buttons-row']" v-if="currentVariation">
                            <a v-bind:href="'http://www.clinique.ru/checkout/viewcart.tmpl?_SUBMIT=cart&SKU_BASE_ID=' + currentVariation['sku_base_id'] + '&QTY=1&from=tool_ff_201710'"
                               target="_blank"
                               v-show="currentVariation['canBuy'] === true"
                               class="cl-button cl-button_wa cl-button_min cl-button_green">КУПИТЬ</a>
                            <a href="javascript:;"
                               v-show="currentVariation['canBuy'] === false"
                               v-on:click="showNotificationModal = true"
                               class="cl-button cl-button_wa cl-button_min cl-button_green-border">ОТСУТСТВУЕТ НА
                                СКЛАДЕ</a>
                            <a href="javascript:;"
                               v-show="userResult == 0"
                               v-on:click="showPage('save')"
                               class="cl-button cl-button_wa cl-button_min cl-button_gray">СОХРАНИТЬ</a>

                            <a href="javascript:;"
                               v-show="currentVariation['canBuy'] === false"
                               v-on:click="showNotificationModal = true"
                               class="cl-card__info">Уведомить меня о поступлении товара по электронной почте.</a>

                            <div class="cl-card__soc">
                                <div class="cl-soc">
                                    <ul class="cl-soc__list">
                                        <li class="li cl-soc__list-item">
                                            <a href="javascript:;"
                                               v-on:click="share('fb')"
                                               class="cl-soc__list-link"><i class="fa fa-facebook-f"></i></a>
                                        </li>
                                        <li class="li cl-soc__list-item">
                                            <a href="javascript:;"
                                               v-on:click="share('vk')"
                                               class="cl-soc__list-link"><i class="fa fa-vk"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="cl-card__color">
                        <div class="cl-card-color">

                            <ul class="cl-card-color__list"
                                v-if="results.bigProduct.variationsMain">
                                <li class="cl-card-color__list-item"
                                    v-for="(variationMain, index) in results.bigProduct.variationsMain">
                                    <div class="cl-card-color__radio">
                                        <input type="radio"
                                               v-if="index == 0"
                                               v-on:click="changeCurrentVariation($event.target.value)"
                                               checked
                                               v-bind:value="variationMain.sku_base_id"
                                               name="radio-color"
                                               v-bind:id="'radio-color-' + index"/>
                                        <input type="radio"
                                               v-on:click="changeCurrentVariation($event.target.value)"
                                               v-else
                                               v-bind:value="variationMain.sku_base_id"
                                               name="radio-color"
                                               v-bind:id="'radio-color-' + index"/>
                                        <label v-bind:for="'radio-color-' + index" v-if="variationMain['image']">
                                            <img v-bind:src="'build/img/swatches/' + variationMain.image"
                                                 v-bind:style="'background-color: ' + variationMain.hex">
                                        </label>
                                    </div>
                                </li>
                                <li class="cl-card-color__list-item"
                                    v-if="results.bigProduct.variationsMore && results.bigProduct.variationsMore.length > results.bigProduct.variationsMain.length">

                                    <a class="cl-card-color__btn" v-show="showModal === false" @click="showModal = true">
                                        <i>+</i>
                                        <span>еще {{ results.bigProduct.variationsMore.length }} {{ declOfNum(results.bigProduct.variationsMore.length, ['оттенок', 'оттенка', 'оттенков']) }}</span>
                                    </a>

                                    <a class="cl-card-color__btn" v-show="showModal === true" @click="showModal = false">
                                        <i>+</i>
                                        <span>еще {{ results.bigProduct.variationsMore.length }} {{ declOfNum(results.bigProduct.variationsMore.length, ['оттенок', 'оттенка', 'оттенков']) }}</span>
                                    </a>

                                </li>
                            </ul>

                            <% include modals/modal.html %>
                            <% include modals/notification.html %>
                            <% include modals/success.html %>

                        </div>
                    </div>
                </div>
                <div class="cl-card-mobile">
                    <a href="#cl-card-mobile-2" aria-controls="cl-card-mobile-2" class="cl-card-mobile__link collapsed" data-toggle="collapse" expanded="false"><span>Читать описание <i class="fa fa-angle-right"></i></span></a>
                    <div id="cl-card-mobile-2" class="cl-card-mobile__collapse collapse">
                        <div class="cl-card__description" v-html="results.bigProduct['description']"></div>
                    </div>

                    <!-- lifehacks and reviews -->
                    <% include sliders/owl.html %>

                    <!-- small products -->
                    <a href="#cl-card-mobile-4"
                       v-if="results.smallProducts.length > 0"
                       aria-controls="cl-card-mobile-4"
                       class="cl-card-mobile__link collapsed"
                       data-toggle="collapse" expanded="false"><span>Что мы подобрали другим <span>пользователям <i class="fa fa-angle-right"></i></span></span></a>
                    <div id="cl-card-mobile-4"
                         v-if="results.smallProducts.length > 0"
                         class="cl-card-mobile__collapse collapse cl-card-mobile__collapse_desctop-ok">
                        <div class="cl-card-result">
                            <div class="cl-card-result__title-block">
                                Еще больше средств, подходящих именно вам
                            </div>
                            <div class="cl-card-result__row">
                                <div class="cl-card-result__col" v-for="(smallProduct, index) in results.smallProducts">
                                    <div class="cl-card-result__item">
                                        <div class="cl-card-result__img" v-if="smallProduct.image">
                                            <img v-bind:src="'build/img/products/' + smallProduct.image">
                                        </div>

                                        <div class="cl-card-result__body">
                                            <div class="cl-card-result__title">
                                                <a v-bind:href="smallProduct.link + '?from=tool_ff_201710'" target="_blank">
                                                    {{ smallProduct.title }}
                                                </a>
                                            </div>
                                            <div class="cl-card-result__price">{{ smallProduct.price }}</div>
                                            <a v-bind:href="smallProduct.link + '?from=tool_ff_201710'"
                                               target="_blank"
                                               class="cl-button cl-button_min cl-button_green-min">КУПИТЬ</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>

            </div>

        </div>
    </div>

</div>