<div id="page-4" class="page" v-show="currentPage == 'save'">
    <script type="text/x-template" id="page-save">
        <div class="cl-wrapper">
            <div class="cl-results cl-results_bg-1">
                <div class="cl-results__wrapper">
                    <div class="cl-results__inner">
                        <a href="javascript:;" class="cl-results__link-back" v-on:click="goToResults()">
                            <i class="ico"></i>Вернуться к результатам
                        </a>
                        <h2 class="cl-results__title">
                            Вы сможете всегда вернуться
                            к результатам теста.
                        </h2>
                        <h2 class="cl-results__title"> Просто оставьте свой e-mail.</h2>
                        <form action="" class="cl-results__form">
                            <div class="cl-results__form-item">
                                <input type="email"
                                       autocomplete="on"
                                       class="cl-results__form-input"
                                       placeholder="пример: maria@mail.ru"
                                       name="email"
                                       v-model="saveEmail" />
                                <button v-on:click="save"
                                        type="button"
                                        class="cl-button cl-button_form"
                                        :disabled="agreeWithProcessing != 1">Сохранить</button>
                            </div>
                            <div class="cl-results__form-item">
                                <div class="checkbox">
                                    <input id="checkbox-1" v-model="agreeWithProcessing" value="1" type="checkbox"/>
                                    <label for="checkbox-1">Я согласен на обработку моих персональных данных</label>
                                </div>
                            </div>
                            <div class="cl-results__form-item">
                                <div class="checkbox">
                                    <input id="checkbox-2" v-model="wantReceiveInformation" value="1" type="checkbox"/>
                                    <label for="checkbox-2">Я хочу получать информацию о новинках и акциях</label>
                                </div>
                            </div>

                        </form>
                        <div class="cl-results__description">&nbsp;</div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <save v-on:success="openSuccess"></save>
</div>