<div id="page-5" class="page" v-show="currentPage == 'success'">
    <script type="text/x-template" id="page-success">
        <div class="cl-wrapper">
            <div class="cl-results cl-results_bg-2">
                <div class="cl-results__wrapper">
                    <div class="cl-results__inner cl-results__inner_center">
                        <h2 class="cl-results__title">
                            Поздравляем!
                        </h2>
                        <div class="cl-results__lid">
                            Вы успешно сохранили результаты теста.
                        </div>
                        <div class="cl-results__links">
                            <a href="javascript:;"
                               v-on:click="goToResults()"
                               class="cl-results__link">Вернуться к результатам <i class="ico"></i></a>
                            <a href="http://clinique.ru"
                               target="_blank"
                               class="cl-results__link">Перейти на <span>clinique.ru</span> <i class="ico"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
    <success></success>
</div>