<!--blocks-->
<div class="cl-review">
    <div class="cl-review__img">
        <img src="./img/1review.png" alt="" class="cl-review__img-item cl-review__img-item_mob">
        <!--<img src="./img/review-1.png" alt="" class="cl-review__img-item">-->
    </div>

    <div class="cl-review__body">


        <div class="cl-review__text">
            <p>
                «Cоздает потрясающее тонкое покрытие с натуральным эффектом. Прекрасно подходит для моей нормальной, местами склонной к сухости кожи.
                Не подчеркивает шелушения
                и не вызывает стянутости, кожа с ним чувствует себя очень комфортно в течение дня. Отличный тональный крем
                на каждый день»
            </p>
        </div>
        <div class="cl-review__name">
            <span>Ксения Никитина</span>
            @xeniya_nikitina
        </div>
        <div class="cl-review__dol">
            Визажист, основатель и креативный директор школы макияжа ICONFACE.
        </div>
    </div>
</div>