/**
 * Main styles
 **/
.cl-card-result-menu {
  padding: 10px 0 18px;
  &__list {
    margin: 0;
    .clearfix();
    padding: 0;
    list-style: none;
    font-size: 0;
  }
  &__list-item {
    .make-sm-column(2);
    .make-xs-column(4);
    float: none !important;
    display: inline-block;
    vertical-align: top;
    padding-left: 0;
    padding-right: 10px;

    &:last-child{
      padding-right: 0;
    }
  }
  &__list-link {
    font-size: 13px;
    display: block;
    padding-top: 21px;
    padding-bottom: 10px;
  }
  &__dt {
    display: inline-block;
    width: 100%;
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 22px;
    font-weight: 300;
    /* Text style for "Тон" */
    letter-spacing: -0.39px;
  }
  &__dd {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
    .pt-HelveticaNeueCyr();
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    text-transform: uppercase;
    /* Text style for "Средний" */
    letter-spacing: 0.37px;
    position: relative;
    padding-right: 14px;

    .ico{
      width: 12px;
      height: 15px;
      display: inline-block;
      vertical-align: top;
      background: url(../img/arrow-2.png) no-repeat center center;
      margin-left: 0px;
      position: absolute;
      /* bottom: 0; */
      right: 0;
      display: block;
      margin-top: 0;
      top: 0;
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-card-result-menu {
    padding-bottom: 4px;
    &__list-link {
      padding-top: 3px;
      padding-bottom: 15px;
    }
  }
}

@media (max-width: 520px) {
  .cl-card-result-menu {
    &__list-item {
      width: 50%;
    }
  }
}