<!--blocks-->
<nav class="cl-card-result-menu">
    <ul class="cl-card-result-menu__list">
        <li class="cl-card-result-menu__list-item">
            <a href="#" class="cl-card-result-menu__list-link">
                <span class="cl-card-result-menu__dt">Тон</span>
                <span class="cl-card-result-menu__dd">Средний<i class="ico"></i></span>
            </a>
        </li>
        <li class="cl-card-result-menu__list-item">
            <a href="#" class="cl-card-result-menu__list-link">
                <span class="cl-card-result-menu__dt">Подтон</span>
                <span class="cl-card-result-menu__dd">Холодный<i class="ico"></i></span>
            </a>
        </li>
        <li class="cl-card-result-menu__list-item">
            <a href="#" class="cl-card-result-menu__list-link">
                <span class="cl-card-result-menu__dt">Покрытие</span>
                <span class="cl-card-result-menu__dd">Среднее<i class="ico"></i></span>
            </a>
        </li>
        <li class="cl-card-result-menu__list-item">
            <a href="#" class="cl-card-result-menu__list-link">
                <span class="cl-card-result-menu__dt">Текстура</span>
                <span class="cl-card-result-menu__dd">В стике<i class="ico"></i></span>
            </a>
        </li>
        <li class="cl-card-result-menu__list-item">
            <a href="#" class="cl-card-result-menu__list-link">
                <span class="cl-card-result-menu__dt">Эффект</span>
                <span class="cl-card-result-menu__dd">Матовый<i class="ico"></i></span>
            </a>
        </li>
        <li class="cl-card-result-menu__list-item">
            <a href="#" class="cl-card-result-menu__list-link">
                <span class="cl-card-result-menu__dt">Уход</span>
                <span class="cl-card-result-menu__dd">ВЫРАВНИВАЕТ ТОН<i class="ico"></i></span>
            </a>
        </li>
    </ul>
</nav>