<!--blocks-->
<div class="cl-soc">
    <ul class="cl-soc__list">
        <li class="li cl-soc__list-item">
            <a href="#" class="cl-soc__list-link"><i class="fa fa-facebook-f"></i></a>
        </li>
        <li class="li cl-soc__list-item">
            <a href="#" class="cl-soc__list-link"><i class="fa fa-vk"></i></a>
        </li>
    </ul>
</div>