/**
 * Main styles
 **/
.cl-soc {

  &__list {
    .clearfix();
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
  }
  &__list-item {
    display: inline-block;
    margin-right: 7px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__list-link {
    width: 25px;
    height: 25px;
    display: block;
    font-size: 15px;
    line-height: 25px;
    background: #9b9b9b;
    border-radius: 4px;
    text-align: center;
    color: #ffffff;
    opacity: 0.9;
    &:hover, &:focus {
      opacity: 1;
      color: #ffffff;
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-soc {

  }
}