/**
 * Main styles
 **/
.cl-footer-form {

  &__form {
    .clearfix();
    font-size: 0;

    label {
      display: inline-block;
      vertical-align: middle;
      color: #000000;
      .pt-HelveticaNeueCyr();
      font-size: 18px;
      font-weight: 300;
      letter-spacing: 0.3px;
      line-height: 26px;
      margin-right: 15px;
    }

    input {
      display: inline-block;
      vertical-align: middle;
      width: 235px;
      height: 36px;
      border: 1px solid #d8d8d8;
      background-color: #ffffff;
      padding: 10px 12px;
      outline: none;
      color: #000000;
      .pt-HelveticaNeueCyr();
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      letter-spacing: 0.28px;

      .placeholder(#aaaaaa);
    }

    button {
      vertical-align: middle;
      display: inline-block;
      color: #000000;
      .pt-HelveticaNeueCyr();
      font-size: 18px;
      font-weight: 300;
      line-height: 18px;
      outline: none !important;
      border: none !important;
      box-shadow: none !important;
      background: transparent;
      height: 36px;
      padding: 9px;

      i {
        display: inline-block;
        width: 6px;
        //height: 10px;
        vertical-align: middle;
        //background: url(../img/combined-shape.svg) no-repeat center center;
        //background-size: cover;
      }
    }
  }

}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-footer-form {

    &__form {
      label {
        display: block;
        margin: 0 0 2px;
        font-size: 16px;
      }
      input {
        width: 210px;
      }
      button {
        font-size: 16px;
      }
    }
  }
}