<!--blocks-->
<div class="cl-footer-form">
    <form action="" class="cl-footer-form__form">
        <label for="email">Найти результаты прошлого теста</label>
        <input type="email" placeholder="пример: maria@mail.ru" id="email" name="email"/>
        <button type="submit">Найти <i class="fa fa-angle-right"></i></button>
    </form>
</div>