<!--blocks-->
<div class="cl-popup__modal-mask">
    <div class="cl-popup__modal-wrapper">
        <div class="cl-popup__modal-container">
            <div class="cl-popup">
                <button class="cl-popup__close" @click="$emit('close')"></button>
                <h2 class="cl-popup__title">Спасибо!</h2>
                <div class="cl-popup__text">
                    Когда товар снова появится на складе, <br>
                    вы получите уведомление по e-mail.
                </div>
            </div>
        </div>
    </div>
</div>