<!--blocks-->
<div class="cl-popup__modal-mask">
    <div class="cl-popup__modal-wrapper">
        <div class="cl-popup__modal-container">
            <div class="cl-popup">
                <button class="cl-popup__close" @click="$emit('close')"></button>
                <h2 class="cl-popup__title">Сейчас нет в наличии</h2>
                <div class="cl-popup__text">
                    К сожалению, этого товара сейчас нет в наличии.
                    Чтобы получить уведомление на электронную почту, когда товар появится в наличии, введите свой
                    e-mail.
                </div>
                <div class="cl-popup__mail">
                    <input type="email" placeholder="Email"/>
                </div>
                <div class="cl-popup__btn">
                    <a href="javascript:;" class="cl-button cl-button_min cl-button_green cl-button_popup">УВЕДОМИТЬ МЕНЯ</a>
                </div>
            </div>
        </div>
    </div>
</div>