/**
 * Main styles
 **/
.cl-popup {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  background-color: #ffffff;
  padding: 26px 45px 20px;
  .clearfix();
  position: relative;

  &__modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: table;
    transition: opacity .3s ease;
  }

  &__modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  &__modal-container {
    width: 435px;
    margin: 0px auto;
    transition: all .3s ease;
  }
  &__close {
    display: block;
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
    background: url(../img/close.svg) no-repeat center center;
    width: 13px;
    height: 13px;
    position: absolute;
    top: 13px;
    right: 12px;
  }
  &__title{
    color: #57b794;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    /* Text style for "Спасибо!" */
    letter-spacing: -0.3px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__text{
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    /* Text style for "Когда това" */
    letter-spacing: -0.2px;
    text-align: center;
    margin-bottom: 18px;
  }
  &__mail{
    text-align: center;
    margin-bottom: 15px;
    input {
      display: inline-block;
      vertical-align: middle;
      max-width: 276px;
      width: 100%;
      height: 36px;
      border: 1px solid #d8d8d8;
      background-color: #ffffff;
      padding: 10px 12px;
      outline: none;
      color: #000000;
      .pt-HelveticaNeueCyr();
      font-size: 14px;
      line-height: 14px;
      font-weight: 400;
      letter-spacing: 0.28px;

      .placeholder(#aaaaaa);
    }
  }
  &__btn{
    text-align: center;
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-popup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    &__modal-container {
      max-width: 435px;
      width: 100%;
    }
  }
}