
<div class="cl-lifechak">
    <div class="cl-lifechak__img">
        <img src="./img/lifehack.png" alt="" class="cl-lifechak__img-item cl-lifechak__img-item_mob">
        <!--<img src="./img/lifechak-1.png" alt="" class="cl-lifechak__img-item">-->
    </div>

    <div class="cl-lifechak__body">
        <div class="cl-lifechak__categories">Лайфхак</div>
        <div class="cl-lifechak__title">
            Как подготовить кожу к нанесению тонального средства?
        </div>
        <div class="cl-lifechak__text">
            <p>
                Перед нанесением тонального средства не забудьте очистить и увлажнить кожу: используйте отшелушивающий лосьон
                <a href="#">Clarifying lotion</a> и увлажняющий гель <a href="#">Moisture surge™</a>. Средства помогут убрать мертвые клетки
                с поверхности кожи и придать свежий вид. На увлажненную и гладкую
                кожу тональное средство ложится легко и равномерно.
            </p>
        </div>
    </div>
</div>