/**
 * Main styles
 **/
.cl-lifechak {
  padding: 45px 45px 36px;
  background-color: #fff;
  background-color: #f7f7f7;
  margin-bottom: 0;
  .clearfix();

  &__img {
    float: left;
    margin-left: -35px;
    margin-bottom: -35px;

    img {
      max-width: 100%;
    }
  }

  &__img-item{
    //display: block;
    &_mob{
      //display: none;
    }
  }
  &__body {
    padding-left: 226px;
    padding-top: 9px;
    padding-bottom: 3px;
  }
  &__categories {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    line-height: 16px;
    font-weight: 500;
    text-transform: uppercase;
    /* Text style for "Лайфхак #" */
    letter-spacing: 0.4px;
    margin-bottom: 10px;
  }
  &__title {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    /* Text style for "Очищение и" */
    letter-spacing: -0.5px;
    margin-top: 0;
    margin-bottom: 16px;
  }
  &__text {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    /* Text style for "Используйт" */
    letter-spacing: -0.2px;

    p {
      margin-bottom: 10px;
    }

    a {
      display: inline-block;
      font-weight: 500;
      border-bottom: 1px solid;
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-lifechak {
    background-color: #ffffff;
    padding: 10px 10px;
    margin-left: -10px;
    margin-right: -10px;
    &__img {
      float: none;
      max-width: 100%;
      margin-bottom: 0px;
      margin-left: 0;
    }

    &__img-item{
      //display: none;
      &_mob{
        //display: block;
      }
    }
    &__categories {
      display: none;
    }
    &__title {
      font-size: 24px;
      font-weight: 100;
      line-height: 26px;
      letter-spacing: -0.43px;
      margin-bottom: 10px;
    }
    &__text {
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
    }

    &__body {
      padding-left: 0px;
      padding-top: 9px;
      padding-bottom: 3px;
    }
  }
}