<div class="cl-review">
    <div class="cl-review__img">
        <img src="build/img/1review.png" alt="" class="cl-review__img-item cl-review__img-item_mob">
    </div>
    <div class="cl-review__body">
        <div class="cl-review__text" v-html="results.bigProduct['review1']"></div>
        <div class="cl-review__name">
            <span>Ксения Никитина</span>
            @xeniya_nikitina
        </div>
        <div class="cl-review__dol">
            Визажист, основатель и креативный директор школы макияжа ICONFACE.
        </div>
    </div>
</div>