<div class="cl-review">
    <div class="cl-review__img">
        <img src="build/img/2review.png" alt="" class="cl-review__img-item cl-review__img-item_mob">
    </div>
    <div class="cl-review__body">
        <div class="cl-review__text" v-html="results.bigProduct['review2']"></div>
        <div class="cl-review__name">
            <span>Надежда Шимба</span>
            @nadia_shimba
        </div>
        <div class="cl-review__dol">
            Визажист, директор по развитию школы макияжа ICONFACE.
        </div>
    </div>
</div>