/**
* Main styles
**/

.cl-footer {
  width: 100%;
  margin: -1*@footer-height auto 0;
  min-height: @footer-height;
  background-color:#f0f0f0;
  position: relative;
  z-index: 4;
  padding-top: 12px;
  padding-bottom: 12px;
}

/**
* Responsive styles
**/

// @media (min-width: @screen-md-min) {
//
//}

//@media (max-width: @screen-sm-max) {
//
//}

//@media (max-width: @screen-xs-max) {
//
//}



@media (max-width: 640px) {
  .cl-footer {
    margin: -1*88px auto 0;
    min-height: 88px;
  }
}