/**
 * Main styles
 **/
.cl-front {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
  background-image: linear-gradient(181deg, #f8f8f8 0%, #f8f8f8 11%, #ffffff 38%, #f9f9f9 61%, #f1f1f1 79%, #dfdfdf 100%);
  position: relative;

  &__inner {
    display: table-cell;
    height: 100%;
    width: 100%;
    vertical-align: middle;
  }

  &__row{
    position: relative;
    z-index: 2;
  }
  &__col {
    padding-top: 57px;
    position: relative;
    z-index: 2;
  }

  &__text {
    color: #000000;
    .pt-HelveticaNeueCyr();
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 26px;
    max-width: 400px;
    margin-bottom: 21px;

    h2 {
      font-size: 38px;
      font-weight: 100;
      letter-spacing: -0.5px;
      line-height: 38px;
      margin-top: 0;
      margin-bottom: 14px;
    }

    p {
      margin-bottom: 10px;
    }

    strong {
      font-weight: 500;
      letter-spacing: 0.51px;
    }
  }
  .cl-wrapper__container {
    position: static;
  }
  &__img {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 66%;
    text-align: right;
    img {
      display: inline-block;
      max-width: 100%;

      &.mob {
        display: none;
      }
    }
  }
}

/**
 * Responsive styles
 **/

// @media (min-width: @screen-md-min) {
//
// }

//@media (max-width: @screen-sm-max) {
//
//}

@media (max-width: 640px) {
  .cl-front {
    padding-bottom: 88px;
    &__inner {
      vertical-align: top;
      padding-bottom: 150px;
    }
    &__text {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0.32px;
      line-height: 22px;
      h2 {
        font-size: 28px;
        font-weight: 100;
        letter-spacing: -0.4px;
        line-height: 28px;
      }
    }
    &__img {
      position: absolute;
      bottom: 88px;
      width: auto;
      //margin-right: -10px;
      //margin-left: -10px;
      max-width: 320px;
      //max-width: inherit;

      img {
        //display: none;

        &.mob {
          //display: block;
          //width: 100%;
        }
      }
    }
  }
}