<!--blocks-->
<div class="cl-front">
    <div class="cl-front__inner">
        <div class="cl-wrapper__container">
            <div class="cl-front__row">
                <div class="cl-front__col">
                    <div class="cl-front__text">
                        <h2>Подбор тонального средства</h2>
                        <p>Найдите свою безупречную формулу
                            за 6 шагов.</p>
                        <p><strong>Пройдите быстрый тест.</strong></p>
                    </div>
                    <a href="#" class="cl-button">НАЧАТЬ</a>
            </div>
            </div>

            <div class="cl-front__img">
                <img src="./img/front-bg.png" alt="">
            </div>
        </div>
    </div>
</div>